.bbs-item-suggest-price {
    padding: 0;
    margin-top: 10px;
    position: relative;
}
.bbs-item-suggest-price > .btn-large {
    width: 100%;
    box-sizing: border-box;
}
.bbs-item-suggest-price .v-popup {
    margin-right: 15px;
    left: auto;
    right: 100%;
    top: 50%;
    margin-left: 0;
    margin-top: -25px;
    /* width: 250px; */
    padding: 15px 25px;
    text-align: center;
}
.bbs-item-suggest-price .price-input {
    width: 110px;
}
.bbs-item-suggest-price .send-button {
    width: 220px;
}

@media (max-width: 767px) {
    .bbs-item-suggest-price {
        margin: 0;
        padding: 5px;
        box-sizing: border-box;
        position: relative;
    }
    .bbs-item-suggest-price .v-popup {
        margin: 0;
        left: 0;
        right: auto;
        top: calc(100% + 15px);
    }
}
@media (max-width: 350px) {
    .bbs-item-suggest-price .v-popup {
        max-width: 220px;
    }
    .bbs-item-suggest-price {
        width: 100%;
    }
}