
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'noomb-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-megaphone:before {
  content: "\e939";
  color: #8b98a1;
}
.icon-danger:before {
  content: "\e93a";
  color: #8b98a1;
}
.icon-crown .path1:before {
  content: "\e918";
  color: rgb(255, 212, 0);
}
.icon-crown .path2:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(255, 159, 0);
}
.icon-crown .path3:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(255, 228, 112);
}
.icon-crown .path4:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(253, 191, 0);
}
.icon-crown .path5:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(255, 159, 0);
}
.icon-crown .path6:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(255, 159, 0);
}
.icon-crown .path7:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(255, 212, 0);
}
.icon-crown .path8:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(255, 212, 0);
}
.icon-crown .path9:before {
  content: "\e920";
  margin-left: -1em;
  color: rgb(255, 73, 73);
}
.icon-crown .path10:before {
  content: "\e921";
  margin-left: -1em;
  color: rgb(255, 108, 108);
}
.icon-crown .path11:before {
  content: "\e922";
  margin-left: -1em;
  color: rgb(255, 108, 108);
}
.icon-crown .path12:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(255, 73, 73);
}
.icon-fire .path1:before {
  content: "\e924";
  color: rgb(255, 101, 54);
}
.icon-fire .path2:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(255, 66, 29);
}
.icon-fire .path3:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(251, 191, 0);
}
.icon-fire .path4:before {
  content: "\e927";
  margin-left: -1em;
  color: rgb(255, 169, 0);
}
.icon-highlighter .path1:before {
  content: "\e928";
  color: rgb(255, 204, 117);
}
.icon-highlighter .path2:before {
  content: "\e929";
  margin-left: -1em;
  color: rgb(8, 41, 71);
}
.icon-highlighter .path3:before {
  content: "\e92a";
  margin-left: -1em;
  color: rgb(39, 75, 109);
}
.icon-highlighter .path4:before {
  content: "\e92b";
  margin-left: -1em;
  color: rgb(255, 157, 73);
}
.icon-highlighter .path5:before {
  content: "\e92c";
  margin-left: -1em;
  color: rgb(39, 75, 109);
}
.icon-highlighter .path6:before {
  content: "\e92d";
  margin-left: -1em;
  color: rgb(255, 204, 117);
}
.icon-highlighter .path7:before {
  content: "\e92e";
  margin-left: -1em;
  color: rgb(24, 95, 141);
}
.icon-kite .path1:before {
  content: "\e92f";
  color: rgb(223, 223, 225);
}
.icon-kite .path2:before {
  content: "\e930";
  margin-left: -1em;
  color: rgb(122, 185, 232);
}
.icon-kite .path3:before {
  content: "\e931";
  margin-left: -1em;
  color: rgb(87, 154, 223);
}
.icon-kite .path4:before {
  content: "\e932";
  margin-left: -1em;
  color: rgb(74, 130, 202);
}
.icon-push-pin .path1:before {
  content: "\e933";
  color: rgb(109, 168, 214);
}
.icon-push-pin .path2:before {
  content: "\e934";
  margin-left: -1em;
  color: rgb(216, 47, 48);
}
.icon-push-pin .path3:before {
  content: "\e935";
  margin-left: -1em;
  color: rgb(189, 21, 21);
}
.icon-push-pin .path4:before {
  content: "\e936";
  margin-left: -1em;
  color: rgb(242, 72, 75);
}
.icon-push-pin .path5:before {
  content: "\e937";
  margin-left: -1em;
  color: rgb(216, 47, 48);
}
.icon-push-pin .path6:before {
  content: "\e938";
  margin-left: -1em;
  color: rgb(189, 21, 21);
}
.icon-apple:before {
  content: "\e900";
}
.icon-arrow-up:before {
  content: "\e901";
}
.icon-black-speech-bubble:before {
  content: "\e902";
}
.icon-close:before {
  content: "\e903";
}
.icon-contact-book:before {
  content: "\e904";
}
.icon-facebook-logo:before {
  content: "\e905";
}
.icon-flag-filled-shape:before {
  content: "\e906";
}
.icon-four-squares-button:before {
  content: "\e907";
}
.icon-google-play:before {
  content: "\e908";
}
.icon-instagram:before {
  content: "\e909";
}
.icon-left-arrow:before {
  content: "\e90a";
  color: #8b98a1;
}
.icon-list-with-dots:before {
  content: "\e90b";
}
.icon-marketing:before {
  content: "\e90c";
}
.icon-phone-receiver:before {
  content: "\e90d";
}
.icon-placeholder:before {
  content: "\e90e";
}
.icon-printing-tool:before {
  content: "\e90f";
}
.icon-right-arrow:before {
  content: "\e910";
}
.icon-share-connection-sing:before {
  content: "\e911";
}
.icon-skype:before {
  content: "\e912";
}
.icon-sort-down:before {
  content: "\e913";
}
.icon-star-empty:before {
  content: "\e914";
}
.icon-star-full:before {
  content: "\e915";
}
.icon-twitter:before {
  content: "\e916";
}
.icon-wallet:before {
  content: "\e917";
}
