.empty-bg {
  background-size: cover!important;
  background-repeat: no-repeat!important;
  background-position: center!important;
  padding: 40px 0 100px;
  min-height: 100vh;
  @media(max-width: $sm-device) {
    background: none!important;
  }
}
ul.autocomplete li.hovered, ul.autocomplete li:hover {
  background-color: #f5f5f5;
}

.banner-top-apps {
  background: $accent-color;
  position: relative;
  &__box {
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media(max-width: $md-device) {
      flex-direction: column;
      align-items: center;
      padding: 10px 0;
    }
  }
  &__left {
    display: flex;
    align-items: center;
    @media(max-width: $sm-device) {
      flex-direction: column;

    }
  }
  &__right {
    @media(max-width: $md-device) {
      margin-top: 10px;
    }
    @media(max-width: $sm-device) {
      flex-direction: column;
    }
  }
  &__title {
    font-size: 17px;
    color: $white;
    font-family: $black;
    @media(max-width: $sm-device) {
      margin-bottom: 10px;
      font-size: 18px;
    }
  }
  &__form {
    display: flex;
  }
  &__link {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid $white;
    color: $white;
    font-size: 17px;
    outline: none;
    text-decoration: none;
    transition: .2s ease-out;
    &:hover, &:focus {
      text-decoration: none;
      outline: none;
      color: $white;
      opacity: .8;
    }
  }
  &__text {
    font-size: 15px;
    color: $white;
    @media(max-width: $sm-device) {
      font-size: 14px;
      margin-bottom: 5px;
    }
  }
  &__input {
    height: 27px;
    background: inherit;
    border-color: $white;
    color: $white;
    &:hover, &:focus {
      background: inherit;
      border-color: $white;
    }
  }
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $white;
    opacity: 1; /* Firefox */
  }

  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $white;
  }

  ::-ms-input-placeholder { /* Microsoft Edge */
    color: $white;
  }
  &__btn {
    margin-left: -1px;
    height: 27px;
    background: inherit;
    color: $white;
    border-color: $white;
    padding: 2px 10px;
    text-shadow: none;
    font-weight: normal;
    &:hover, &:focus {
      text-decoration: none;
      outline: none;
      color: $white;
    }
  }
  &__close {
    cursor: pointer;
    font-size: 12px;
    color: $white;
    position: absolute;
    right: 10px;
    top: 10px;
  }
}

.form-enter {
  margin: 0 auto;
  max-width: 357px;
  background: $white;
  padding: 35px 30px 30px 30px;
  @media(max-width: $sm-device) {
    padding: 30px 0;
  }
  &__logo {
    display: inline-block;
    margin-bottom: 27px;
    img {
      max-width: 155px;
      display: inline-block;
    }
  }
  &__title {
    font-family: $extraBold;
    font-size: 24px;
    margin-bottom: 20px;
  }
  &__title-second {
    font-family: $semiBold;
    font-size: 16px;
  }
}

.l-header {
  @media(max-width: $sm-device) {
    margin-bottom: 0;
  }
  &__top-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media(max-width: $sm-device) {
      flex-direction: column;
      justify-content: inherit;
      align-items:inherit;
    }
  }
  &__top-first {
    @media(max-width: $sm-device) {
      justify-content: space-between;
    }
  }
  &__top-second {
    @media(max-width: $sm-device) {
      margin-top: 10px;
      align-items: center;
      & > div {
        width: 100%;
        text-align: center;
      }
    }
  }
  &__logo {
    max-width: 100px;
    margin-right: 15px;
  }
  &__burger {
    color: $white;
    font-size: 18px;
    margin-right: 15px;
    @media(max-width: $sm-device) {
      margin-right: 0;
    }
    &:hover {
      color: $green;
    }
    &:focus {
      color: $green;
    }
    & + .dropdown-menu {
      @media(max-width: $sm-device) {
        right: 0;
        left: auto;
      }
    }
  }
  &__top {
    background: $main-color;
    color: $white;
    padding: 10px 0;
  }
  &__top-nav {
    margin: 0;
    padding: 0;
    list-style: none;
    & > li {
      display: inline-block;
      margin-right: 28px;
      @media(max-width: $sm-device) {
        margin-right: 10px;
      }
    }
    a.main-link {
      color: $main-color;
      text-decoration: none;
      outline: none;
    }
  }
  &__user-links {
    a {
      color: $white;
      &.color-green {
        color: $green;
      }
    }
    &.l-header-user-buttons {
      a {
        text-decoration: none;
        outline: none;
      }
    }
    .border-right {
      position: relative;
      &:after {
        content: '';
        position: absolute;
        right: -14px;
        top: 0;
        height: 100%;
        width: 1px;
        background: #00ad5e;

      }
    }
  }
  &__nav-box {
    padding: 23px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media(max-width: $sm-device) {
      flex-direction: column;
      padding: 10px 0;
    }
    .l-header-logo {
      margin: 0 auto;
      @media(max-width: $sm-device) {
        margin-bottom: 10px;
      }
      img {
        max-width: 155px;
      }
    }
    .l-header-user-buttons {
      @media(max-width: $sm-device) {
        margin-top: 10px;
      }
      .btn-success {

      }
    }
  }
  &__logo-sm {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media(max-width: $md-device) {
      flex-direction: row-reverse;
    }
    @media(max-width: $sm-device) {
      flex-direction: column-reverse;


    }
  }
}

.l-filter-bg {
  background: $layout-color;
  .l-filter {
    padding: 13px 0;
    background: $layout-color;
  }
}

.l-filter-form {
  .l-filter-form-btn {
    .btn-default-accent {
      padding-left: 10px;
      padding-right: 10px;
      background: $white;
      text-transform: inherit;
      color: $main-color;
      border-right: 1px solid $layout-color;
      display: flex;
      align-items: center;
      font-family: $light;
      font-size: 14px;
      .caret {
        margin-left: 50px;
      }
      &:focus {
        box-shadow: none;
      }
    }
  }
  .l-filter-form-input {
    .form-control {
      border: none;
    }

  }
}

.link-green-add {
  img {
    width: 20px;
  }
  display: inline-block;
  margin-top: 30px;
  font-size: 20px;
  color: #50c7e4!important;
  text-decoration: none!important;
  outline: none;
  span {
    text-decoration: underline!important;
  }
}

.index-cat {
  position: absolute;
  top: 130px;
  left: 0;
  right: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  z-index: 3;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  @media(max-width: $sm-device) {
    display: none;
  }
  @media(max-width: $md-device) {
    padding: 25px 15px;
  }
  @media (min-width: 768px) {
    width: 750px;
  }
  @media (min-width: 992px) {
    width: 970px;
  }
  @media(min-width: 1200px) {
    width: 1170px;
  }
  &__item {
    margin: 15px 10px;
  }
  &__link {
    font-size: 14px;
    font-family: $bold;
    color: $white;
    padding: 8px 12px;
    border: 1px solid $white;
    transition: .2s ease-out;
    &:hover,&:focus {
      color: $main-color;
      text-decoration: none;
      background: $white;
    }
  }

}

.l-socialForm.form-group-item {
  display: flex;
  @media(max-width: $sm-device) {
    flex-direction: column;
    .l-socialForm-select {
      width: 100%;
      margin-bottom: 10px;
      padding-right: 0;
    }
  }
  .l-socialForm-input {
    flex: 1;
    @media(max-width: $sm-device) {
      width: 90%;
    }
  }
}

.cat-list {
  display: flex;
  flex-wrap: wrap;
  &__box {
    width: 33%;
    margin-bottom: 35px;
    @media(max-width: $sm-device) {
      width: 100%;
    }
  }
  &__title {
    font-size: 18px;
    text-decoration: none;
    outline: none;
    color: $main-color;
    &:hover {
      text-decoration: none;
    }
  }
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      margin-bottom: 10px;
    }
  }
  &__hover {
    position: relative;
    display: inline-block;
    &:hover {
      .cat-list__list-sub {
        @media(max-width: $md-device) {
          display: none;
        }
        z-index: 1;
        visibility: visible;
        opacity: 1;
      }
    }
  }
  &__list-sub {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    margin: 0;
    padding: 10px;
    display: inline-block;
    list-style: none;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    background: $white;
    @media(max-width: $md-device) {
      display: none;
    }
    & > li {
      white-space: nowrap;
    }
  }
  &__item {
    color: $main-color;
    &:hover {
      text-decoration: none;
    }
  }
  &__more {
    font-size: 11px;
    color: $accent-color;
    text-transform: uppercase;
    font-family: $bold;
    &:hover {
      color: $accent-color-hover;
      text-decoration: none;
    }
  }
}

.banner-cat {
  display: flex;
  margin: 0 -15px;
  &.no-banner {
    .cat-list {
      width: 100%;
      padding: 15px;
    }
    .cat-list__box {
      width: 25%;
    }
    .l-banner {
      width: 0%;
      padding: 0;
    }
  }
  .cat-list {
    width: 75%;
    padding: 15px;
  }
  .l-banner {
    flex: 0 0 auto;
    width: 25%;
    padding: 15px;
  }
}

.l-mainLayout-content.has-sidebar {
  .gallery {
    width: 100%;
    //margin: 0 -15px;
    @media(max-width: $md-device) {
      margin: 0!important;
    }
    .gallery__box {
      width: 33%;
      @media(max-width: $md-device) {
        width: 50%;
      }
    }
  }
}

.sh-map-list {
  border: none;
  .sh-map-list-item-title {
    a {
      font-size:18px;
      font-family: $bold;
      color: $main-color;
    }
  }
  .sh-map-list-item-content {
    padding-left: 0;
  }
  .sh-map-list-item {
    margin-right: 15px;
    padding-left: 0;
    transition: .2s ease-out;
    &:hover {
      background: inherit;
    }

  }

}
.sh-map-list-item + .sh-map-list-item {
  border-top: 1px solid $border-color;
}

.sr-listTop-view {
  margin-right: 0;
  float: right;
  &__link {
    margin-left: 15px;
    color: $light-color;
    &:hover {
       color: $accent-color;
       text-decoration: none;
    }
    &:focus {
      color: $accent-color;
      text-decoration: none;
    }
    &.active {
      color: $accent-color;
      text-decoration: none;
    }
  }
  .fa {
    font-family: 'noomb-icon';
  }
  .fa-th-list{
    @extend .icon-list-with-dots;
  }
  .fa-th {
    @extend .icon-four-squares-button ;
  }
  .fa-map-marker {
    @extend .icon-placeholder;
  }
}



.l-mainLayout-content.has-sidebar.col-md-9.col-sm-8 {
  @media(max-width: $md-device) {
    width: 66.6%;
  }
  @media(max-width: $sm-device) {
    width: 100%;
  }
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  &_row {
    margin: 0 -15px;
    @media(max-width: $xs-device) {
      margin: 0;
    }
  }
  .sh-list-item-contact-item {
    a {
      font-size: 14px;
      text-decoration: underline;
    }
  }
  &__box {
    width: 25%;
    padding:  0 15px 30px 15px;
    border: none;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    transition: .2s ease-out;
    &:hover {
      .gallery__img {
        transition: .2s ease-out;
        box-shadow: 2px 4px 6px #C3C3C4;
      }
    }
    @media(max-width: $md-device) {
      width: 33.3%;
    }
    @media(max-width: $sm-device) {
      width: 50%;
    }
    @media(max-width: $xs-device) {
      width: 100% !important;
      padding: 0 0 15px -0px;
    }
  }
  &_sr-vip {
    flex-direction: column;
    .gallery__box {
      width: 100%;
      padding:0 0 25px 0;
    }
  }
  &__article-vip {
    font-size: 14px;
    font-family: $bold;
    color: $action-color;
    border: 1px solid $action-color;
    text-align: center;
    padding: 6.5px 10px;
    width: 100%;
  }
  &_more {
    width: 100%;
    margin: 0 -15px;
    .gallery__box {
      width: 25%;
      @media(max-width: $sm-device) {
        width: 50%;
      }
      @media(max-width: $xs-device) {
        width: 100%;
      }
    }
  }
  &__img {
    height:135px;
    display: block;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    margin-bottom: 15px;
    transition: .2s ease-out;
    &.selected {
      border: 2px solid $action-color;
    }
  }
  &__title {
    font-size: 18px;
    font-family: $semiBold;
    color: $main-color;
    max-height: 40px;
    overflow: hidden;
    display: inline-block;
    &:hover {
      color: $accent-color-hover;
      text-decoration: none;
      outline: none;
    }
  }
  &__price {
    font-size: 18px;
    font-family: $extraBold;
  }
  &__star {
    font-size: 18px;
    color: $light-color;
    &:hover {
      color: $action-color;
    }
    &:focus {
      color: $action-color;
    }
    &.active {
      color: $action-color;
    }
  }
}

.gallery-general {
  &.banner {
    display: flex;
    align-items: flex-start;
    margin: 0 -15px;
    .gallery {
      width: 75%;
      padding: 0;
      @media(max-width: $md-device) {
        width: 100%;
      }
      .gallery__box {
        width: 33%;
        @media(max-width: $sm-device) {
          width: 50%;
          &:nth-child(n+9) {
            display: none;
          }
        }
        @media(max-width: $xs-device) {
          width: 100%;
        }
      }
    }
    .gallery__box {
      width: 33%;
    }
    .l-banner {
      flex: 0 0 auto;
      width: 25%;
      padding: 0 15px;
    }
  }
}

.banner-premium {
  display: flex;
  margin: 0 -15px;
  @media(max-width: $xs-device) {
    margin: 0;
  }
  &.no-banner {
    .gallery {
      width: 100%;
      padding: 15px;
    }
    .gallery__box {
      width: 25%;
    }
  }
  .gallery {
    width: 75%;
    padding: 0;
    @media(max-width: $md-device) {
      width: 100%;
    }
    .gallery__box {
      width: 33%;
      @media(max-width: $sm-device) {
        width: 50%;
        &:nth-child(n+9) {
          display: none;
        }
      }
      @media(max-width: $xs-device) {
        width: 100%;
      }
    }
  }
  .l-banner {
    width: 25%;
    flex: 0 0 auto;
    padding: 0 15px;
  }
}

.l-footer {
  background: $footer-bg;
  border-top: 0;
  padding: 0;
  &__top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid #D5DDE2;
    margin-bottom: 38px;
    @media(max-width: $sm-device) {
      flex-direction: column;

    }
  }
  .footer-logo {
    img {
      max-width: 145px;
    }
  }
  &__end {
    background: #2C3033;
    padding: 35px 0 0 0;
    @media(max-width: $sm-device) {
      padding: 0;
    }
    p {
      padding: 20px 0;
      margin-bottom: 0;
      span {
        font-size: 12px;
        color: $light-color!important;
        background: inherit!important;
      }
    }
  }
}

.l-footer-menu {
  li {
    padding-bottom: 10px;
    a {
      color: $main-color;
    }
  }
}

.empty-layout {
  .l-headerShort-heading {
    display: none;
  }
}

.footer-partner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  a {
    opacity: .6;
    padding: 10px 15px;
    transition: .2s ease-out;
    &:hover {
      opacity: 1;
    }
  }
}

.footer-social {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    display: inline-block;
    margin-left: 20px;
    a {
      color: $main-color;
      font-size: 18px;
      text-decoration: none;
      padding: 3px;
      &:hover {
        text-decoration: none;
      }
      &.fb {
        &:hover {
          color: #3B5998;
        }
      }
      &.tw {
        &:hover {
          color: #00acee;
        }
      }
      &.insta {
        &:hover {
          color: #e95950;
        }
      }
    }

  }
}

.footer-nav {
  padding: 0;
  margin: 0;
  list-style: none;
  li {
    margin-left: 25px;
    display: inline-block;
  }
  a {
    color: $main-color;
  }
}

.dropdown-menu-heading {
  a, .hidden-link {
    color: $accent-color;
    &:hover {
      outline: none;
      color: $accent-color-hover;
    }
  }
}

.dropdown-menu-heading-title {
  font-size: 14px;
  font-weight: normal;
  font-family: $bold;
}
.l-categories-items>li+li {
  border: none;
}
.l-categories-items {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.l-categories-items > li {
  display: inline-block;
  vertical-align: top;
  margin: 5px 0;
  width: 33%;
  @media(max-width: $sm-device) {
    width: 50%;
  }
  @media(max-width: $xs-device) {
    width: 100%;
  }
}
.l-categories-items > li > a,
.l-categories-items > li .hidden-link {
  padding:  0;
  text-align: left;
  border: none;
  font-size: 14px;
  font-family:$semiBold;
  color: $main-color;
  width: auto;
}
.l-categories-items > li > a:hover,
.l-categories-items > li .hidden-link:hover {
  border-color: #ddd;
}
.l-categories-list-i-items {
  display: block;
}
.l-categories-list-i-items img {
  height: 54px;
  margin-bottom: 10px;
}
.l-categories-items-i-img {
  display: block;
  margin-bottom: 5px;
}
.l-categories-items-i-img img {
  max-width: 54px;
  max-height: 54px;
}
.l-categories-items-i-name {
  display: block;
}

.l-categories {
  width: 535px;
  @media(max-width: $sm-device) {
    width: 100%;
    .l-categories-wrap {
      padding: 0 10px;
    }
  }
}

.index-categories-m {
  border-color: $border-color;
  .index-categories-m-item  {
    border-color: $border-color;
    .fa {
      color: $main-color;
    }
    &:hover {
      text-decoration: none;
    }
    &:focus {
      text-decoration: none;
    }
  }
  .index-categories-m-item-name {
    font-size: 14px;
    font-family: $bold;
    color: $main-color;
    text-decoration: none;
  }
}
.index-categories-m-sub>li>a {
 border-color: $border-color;
  color: $main-color;
  &:hover {
    color: $main-color;
    text-decoration: none;
  }
  &:focus {
    color: $main-color;
    text-decoration: none;
  }
}

.index-categories-m-item-name {
 a {
   color: $main-color;
 }
}

.app-box {
  &__btn {
    display: flex;
    margin: 0 -5px;
    a {
      margin: 0 5px;
      @media(max-width: $sm-device) {
        width: 50%;
      }
    }
  }
  &__input-box {
    max-width: 215px;
    @media(max-width: $sm-device) {
      max-width: 100%;
    }
  }
}

.form-add {
  &__dp {
    width: 50%;
    @media(max-width: $xs-device) {
      width: 100%;
    }
  }
  &__contact {
    position: relative;
    .link-ajax {
      position: absolute;
      left: calc(100% + 20px);
      top: 8px;
      @media(max-width: $xs-device) {
        position: relative;
        top: 0;
        left: 0;
      }
    }
  }
}

.promotion {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  margin: 0 -15px;
  input[type="radio"] {
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
  }
  img {
    max-width: 22px;
  }
  &_big {
    .promotion__box {
      width: 25%;
      justify-content: center;
      align-items: center;
      @media(max-width: $md-device) {
        width: 50%;
      }
      @media(max-width: $sm-device) {
        width: 100%;
      }
    }
    img {
      max-width: 120px;
      max-height: 50px;
    }
  }
  &__box {
    padding: 10px 15px;
    width: 33%;
    &.active {
      .promotion__label {
        border-color: $accent-color;
        box-shadow: 0 0 0 2px $accent-color;
      }
    }
    @media(max-width: $md-device) {
      width: 50%;
    }
    @media(max-width: $sm-device) {
      width: 100%;
    }

  }
  &__label {
    padding: 15px 20px;
    border: 1px solid $border-color;
    transition: .2s ease-out;
    margin-bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    font-weight: inherit;
    &:hover {
      border-color: $accent-color;
    }
  }
  &__title {
    font-size: 16px;
    font-family: $semiBold;
    display: block;
    margin: 10px 0;
  }
  &__des {
    font-size: 14px;
  }
  &__price {
    margin-top: 20px;
    font-family: $bold;
  }
}

.list {
  margin-bottom: 25px;
  display: flex;
  transition: .2s ease-out;

  &:hover {
    .list__img {
      transition: .2s ease-out;
      box-shadow: 2px 4px 6px #C3C3C4;
    }
  }
  &_with-checkbox {
    position: relative;
    @media(max-width: $sm-device) {
     .list__photo {
       display: none;
     }
    }
  }
  &__checkbox {
    width: 25px;
    display: flex;
    justify-content:  center;
    align-items: center;
    padding-right: 20px;
  }
  &__photo {
    width: 215px;
    height: 135px;
    flex: 0 0 auto;
    margin-right: 20px;
    @media(max-width: $sm-device) {
      width: 120px;
      height: 75px;
    }
    @media(max-width: $xs-device) {
      width: 75px;
      height: 50px;
      margin-right: 10px;
    }
  }
  &__body {
    width: 100%;
    flex: 0 0 1;
    display: flex;
    justify-content: space-between;
  }
  &__body-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__img {
    background-repeat: no-repeat!important;
    background-size: cover!important;
    background-position: center !important;
    width: 100%;
    height: 100%;
    display: inline-block;
    transition: .2s ease-out;
    &.selected {
      border: 2px solid $action-color;
    }
  }
  &__title {
    color: $main-color;
    font-size: 18px;
    font-family: $semiBold;
    &:hover {
      text-decoration: none;
      color: $accent-color;
    }
    &:focus {
      text-decoration: none;
      color: $accent-color;
    }
  }
  &__price {
    color: $main-color;
    font-size: 18px;
    font-family: $extraBold;
    @media(max-width: $sm-device) {
      font-size: 14px;
    }
  }
  &__show-map {
    margin-left: 10px;
    color: $accent-color;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
  &__star {
    font-size: 18px;
    color: $light-color;
    &:hover {
      color: $action-color;
    }
    &:focus {
      color: $action-color;
    }
    &.active {
      color: $action-color;
    }
  }
}

.sr-map-baloon {
  .sr-map-baloon-title {
    a {
      color: $main-color!important;
      font-family: $bold;
      font-size: 14px;
    }
  }
  .sr-map-baloon-price {
    font-size: 14px;
    font-family: $extraBold;
    color: $main-color;

  }
}

.sh-map-baloon {
  .sh-map-baloon-title {
    a {
      color: $main-color!important;
      font-family: $bold;
      font-size: 14px;
    }
  }
}

.l-pageHeading-tabs {
  font-family: $bold;
  font-size: 12px;
  text-transform: uppercase;
  li.active {
    a {
      color: $accent-color;
      background: $white;
      border-color: $accent-color;
      z-index: 1;
      position: relative;
    }
  }
  li {
    a {
      padding: 6.5px 15px;
      color: $light-color;
      border-color: $light-color;
    }
  }
}

.ad-price-mod {
  color: $light-color;
}
.item {
  &__price {
    font-size: 18px;
    font-family: $bold;
  }
}

.ad-dynprops {
  .ad-dynprops-item {
    width: 50%;
    @media(max-width: $xs-device) {
      width: 100%;
    }
  }
  .ad-dynprops-item-in {
    border: none;
    margin: 5px 0;
    display: flex;
    padding-left: 0;
    .ad-dynprops-item-attr {
      width: 40%;
      display: inline-block;
      color: $light-color;
    }
    .ad-dynprops-item-val {
      width: 60%;
    }
  }
}

.ad-author {
  border: none;
}

.ad-author-in+.ad-author-in {
  border: none;
}

.ad-author-user-name {
  font-family: $bold;
}
.ad-author-user-type {
  font-size: 12px;
  color: $light-color;
}
.ad-author-user-all {
  a {
    text-decoration: underline;
  }
}
.ad-author-contact-row-content {
  a {
    font-size: 14px;
    text-decoration: underline;
  }
}

.ad-actions {
  .link-ico {
    color: $main-color;
  }
  i {
    margin-right: 5px;
    color: $light-color;
  }
}

.ad-contact-block {
  border: none;
}

.ad-similar {
  .gallery__box {
    width: 100%;
    padding-bottom: 10px;
    min-height: 290px;
  }
  .owl-item {
    margin-right: 0!important;
  }
}

.l-comments-leave-toggle {
  display: inline-block;
  text-align: center;
  padding: 6.5px 20px;
  text-transform: uppercase;
  font-family: $bold;
  font-size: 12px;
  color: $light-color;
  border: 1px solid $light-color;
  transition: .2s ease-out;
  &:hover {
    color: $accent-color;
    border-color: $accent-color;
    background: inherit;
  }
  &:focus {
    color: $accent-color;
    border-color: $accent-color;
    background: inherit;
  }

}


.l-comments-list-item-content-top {
  a {
    font-size: 14px;
    font-family: $bold;
    color: $main-color;
    &:hover {
      text-decoration: none;
      color: $accent-color;
    }
  }
}

.l-comments-list-item-answer {
  margin-top: 0px;
}
.l-comments-list-item-content {
  margin-bottom: 35px;
}

.l-comments-list-item-text {
  font-size: 16px;
  line-height: 22px;
}

.l-comments-list-item-controls {
  a {
    font-family: $bold;
    font-size: 12px;
    text-transform: uppercase;
  }
  .add-commint {
    color: $accent-color;
  }
  .del-commint {
    color: $light-color;
  }
}
.l-comments-list-item-avatar {
  img {
    border-radius: 50%;
  }
}

.customNavigation {
  display: flex;
  a {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content:center;
    align-items: center;
    color: $light-color;
    border: 1px solid $border-color;
    position: relative;
    cursor: pointer;
    &:first-child {
      margin-right: -1px;
    }
    &:hover, &:focus {
      text-decoration: none;
      z-index: 1;
      border-color: $accent-color;
      color: $accent-color;
    }
  }
}

.usr-dialogs {
  border-color: $border-color;
 .usr-dialogs-item {
   border-bottom: 1px solid $border-color;
   padding: 20px 10px;
   &:hover {
     background: none;
   }
 }
  .usr-dialogs-item-avatar {
    border-radius: 50%;
    img {
      border-radius: 50%;
    }
  }
  .label {
    border-radius: 0;
    color: $main-color;
    &.label-default {
      background: $layout-color;
    }
    &.label-success {
      background: $action-color;
      color: $white;
    }
  }
  &__btn {
    font-size: 20px;
    text-decoration: none;
    outline: none;
    i {
      color: $light-color;
    }
    &:hover {
      text-decoration: none;
      .fa-star {
        color: $action-color;
      }
      .fa-ban {
        color: red;
      }
    }
    &:focus {
      text-decoration: none;
    }
    &.active {
      .fa-star {
        color: $action-color;
      }
      .fa-ban {
        color: red;
      }
    }
  }
  .usr-dialogs-item-msg {
    border-radius: 0;
    background: none;
    border: none;
    border-bottom: 1px solid $border-color;
  }
}
.usr-dialogs-item-msg-date {
  color: $light-color;
  font-size: 12px;
  font-family: $light;
}

.usr-content {
  .usr-chat-nav {
    border-color: $border-color;
  }
  .usr-chat-box {
    border-color: $border-color;
  }
  .usr-chat-box-form {
    border-color: $border-color;
    background-color: $footer-bg;
  }
  .usr-chat-nav-person {
    img {
      border-radius: 50%;
    }
  }
  .usr-chat-box-item-in {
    border-radius: 25px;
  }
  .usr-chat-box-item_others {
    background: $footer-bg;

  }
  .usr-chat-box-item_self {
    background: #e2f2a6;

  }
}
.usr-chat-box-item-ad {
  border: 1px solid $border-color;
  .usr-chat-box-item-ad-title {
    a {
      font-family: $bold;
    }
  }
}

.c-price {
  color: $main-color;
  font-size: 18px;
  font-family: $extraBold;
}

.sr-list-item-stats {
  i {
    color: $light-color;
  }
  &__li {
    color: $light-color;

  }
}

.index-cities {
  margin-top: 0;
  li {
    padding-bottom: 10px;
    a, span {
      font-size: 14px;
      color: $main-color;
      font-family: $bold;
      &:hover, &:focus {
        text-decoration: none;
        color: $accent-color;
      }
    }
  }
}

.prices {
  border: 1px solid $border-color;
  &__header {
    background: $layout-color;
    padding: 5px 10px;
  }
  &__item {
    display: block;
    outline: none;
    text-decoration: none !important;
    transition: .2s ease-out;
    padding: 15px 10px;
    color: $main-color!important;
    background: $footer-bg;
    &.collapsed {
      background: $white;
    }
    &:hover {
      background: $footer-bg;
    }
  }
  &__text {
    padding: 15px 10px;
  }
  &__bb {
    margin-top: 0;
    margin-bottom: 0;
    border: 0;
    border-top: 1px solid $border-color;
  }
  @media(max-width: $sm-device) {
    p.text-right {
      text-align: left;
    }
    .nowrap.text-right {
      text-align: left;
    }
  }
  &__img-box {
    @media(max-width: $sm-device) {
      margin-bottom: 10px;
    }
  }
  &__des-box {
    @media(max-width: $sm-device) {
      margin-bottom: 10px;
    }
  }
  &__time-box {
    @media(max-width: $sm-device) {
      display: inline-block;
      br {
        display: none;
      }
      p {
        padding-bottom: 0;
        margin-bottom: 0;
      }
    }
  }
  &__price-box {
    @media(max-width: $sm-device) {
      display: inline-block;
      br {
        display: none;
      }
      p {
        padding-bottom: 0;
        margin-bottom: 0;
      }
    }
  }
}

#j-i-form {
  .l-categories-list-wrapper {
    display: block;
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
  }

}

.headerlang {
  text-transform: uppercase;
}

.usr-settings {
  .autocomplete {
    width: 100%!important;
  }
}

.premium-general {
  position: relative;
  padding: 55px 0 20px 0;
  background: #d8e7fb;
  margin-bottom: -30px;
  @media(max-width: $xs-device) {
    padding: 55px 0 20px 0;
  }
  &__img {
    max-width: 470px;
    position: absolute;
    top: -100px;
    left: 0;
    @media(max-width: $xs-device) {
      top: -80px;
      max-width: 320px;
    }
  }
}

#j-contacts-form {
  .j-google-recaptcha {
    & > div {
      margin: 0 auto;
    }
  }
}

.map-bg {
  background: #f4f8f9;
  .container {
    padding-top: 20px;
    padding-bottom: 40px;
    background-size: 100% 15px;
    background-repeat: no-repeat;
  }
}

.video-box {
  color: #fff;
  position: relative;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  background-image: none;
  background-color: rgba(172,7,52,.8);
  padding: 20px 0 20px;
  min-height: 460px;
  @media(max-width: $sm-device) {
    display: none;
  }
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5) url(../../img/group.png) 5px 5px repeat;
    z-index: 2;
  }

  &__video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    -webkit-appearance: none;
  }
}












