body {
  height: 100%;
  font-family: $regular;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: $main-color;
}

//form

.form-group-sm .form-control {
  border-radius: 0;
}
.form-control {
  height: 35px;
  color: $main-color;
  background-color: $white;
  border: 1px solid $border-color;
  border-radius: 0;
  box-shadow: none;
  :focus {
    border-color: $accent-color;
    box-shadow: none;
  }
}

.form-control::-webkit-input-placeholder {
  font-family: $light;
}

.form-control:-moz-placeholder {
  font-family: $light;
}

label.control-label {
  color: $main-color;
  font-size: 14px;
  font-family: $light;
  font-weight: normal;
}

.input-group-addon {
  border-radius: 0;
  background: inherit;
  border-color: $border-color;
}

select.form-control {
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(../../img/icons/sort-down.svg)  no-repeat $white;
  background-size: 6px;
  background-position: right 5px top 14px;
  &:-ms-expand {
    display: none;
  }

}

.ad-actions-item-dropdown-right {
  left: 100%;
}

.c-scrolltop {
  a {
    border-radius: 50%;
    width: 41px;
    height: 41px;
    background-color: $light-color;
    color: $white;
  }
}

.alert {
  border-radius: 0;
}

//tabs
.nav-tabs {
  border-bottom: 1px solid $border-color;
  text-transform: uppercase;
  font-size: 12px;
  font-family:$bold;
  li {
    a {
      color: $light-color;
      transition: .2s ease-out;
      padding-left: 0;
      padding-right: 22px;
      &:hover {
        color: $main-color;
      }
      @media(max-width: $md-device) {
        padding-left: 15px;
      }
    }
  }
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  border: none;
  color: $accent-color;
}

.nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background-color: inherit;
}
.nav-tabs > li > a {
  border: none;
}
.nav-tabs > li > a:hover {
  border: none;
}

.nav-tabs > li {
  margin-bottom: 0;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  background: none;
  color: $accent-color;
  .nav-pills-label {
    color: $accent-color;
  }
}
.nav-pills > li > a {
  text-transform: uppercase;
  color: $light-color;
  font-family: $bold;
  font-size: 12px;
  &:hover {
    color: $main-color;
    .nav-pills-label {
      color: $main-color;
    }
  }
}
.nav-pills > li {
  &:first-child {
    > a {
      padding-left: 0;
      @media(max-width: $sm-device) {
        padding-left: 15px;
      }
    }
  }
}
//tabs-end

//form-end

.l-page__breadcrumb_shadow {
  background: inherit;
  li {
    font-size: 12px;
    a {
      span {
        color: $main-color!important;
      }
      &:hover {
        text-decoration: none;
        outline: none;
        span {
        color: $accent-color!important;
      }
      }
      &:focus {
        text-decoration: none;
        outline: none;
        span {
        color: $accent-color!important;
      }
      }
    }
    span {
      color: $light-color;
    }
  }
  //background: $white;
  //border-radius: 0;
  //box-shadow: 0 0 21px 0 $white;
}
.breadcrumb > li + li::before {
  content: '>';
  color: $main-color;
  padding: 0 5px 0 0;
  font-family: $light;
}

.l-page__breadcrumb_shadow::after {
  box-shadow: none;
}


//pagination
.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}
.pagination > li {
  display: inline;
}
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: $main-color;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid $border-color;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-radius: 0;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-radius: 0;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  z-index: 2;
  color: $main-color;
  background-color: $layout-color;
  border-color: $border-color;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: $accent-color;
  border-color: $accent-color;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ddd;
}
//pagination-end

.sh-social {
  width: 30px;
  height: 30px;
  margin-bottom: 5px;
  display: inline-block;
}
.sh-social_vk {
  background-color: #406f9f;
  background-image: url("../../img/icons/social/c-vk.png");
  background-repeat: no-repeat;
  background-position: center center;
}
.sh-social_vk:hover {
  background-color: #6098c0;
}

.sh-social_fb {
  background-color: #4666a5;
  background-image: url("../../img/icons/social/c-fb.png");
  background-repeat: no-repeat;
  background-position: center center; }
.sh-social_fb:hover {
  background-color: #849bcb;
}

.sh-social_od {
  background-color: #ff6e00;
  background-image: url("../../img/icons/social/c-od.png");
  background-repeat: no-repeat;
  background-position: center center;
}
.sh-social_od:hover {
  background-color: #ff9d00;
}

.sh-social_mm {
  background-color: #6ab724;
  background-image: url("../../img/icons/social/c-mm.png");
  background-repeat: no-repeat;
  background-position: center center;
}
.sh-social_mm:hover {
  background-color: #8cd231;
}

.sh-social_gg {
  background-color: #AD2C1E;
  background-image: url("../../img/icons/social/c-gg.png");
  background-repeat: no-repeat;
  background-position: center center;
}
.sh-social_gg:hover {
  background-color: #D84837;
}

.sh-social_ya {
  background-color: #D83933;
  background-image: url("../../img/icons/social/c-ya.png");
  background-repeat: no-repeat;
  background-position: center center;
}
.sh-social_ya:hover {
  background-color: #FF1713;
}

//font
a {
  color: $accent-color;
  transition: .2s ease-ount;
  outline: none;
  &:hover {
    color: $accent-color-hover;
  }
  &:focus {
    color: $accent-color-hover;
  }
  &.bold {
    font-size: 16px;
    font-family: $semiBold;
    text-decoration: none;
  }
}

.fz-12 {
  font-size: 12px;
}

.fz-22 {
  font-size: 22px;
}

.fz-26 {
  font-size: 22px;
}

.ff-black {
  font-family: $black;
}

.ff-extra-bold {
  font-family: $extraBold;
}

.ff-bold {
  font-family:$bold;
}

.ff-semibold {
  font-family:$semiBold;
}

.color-light {
  color: $light-color
}

.color-action {
  color: $action-color;
}

.color-main {
  color: $main-color;
}

.color-green {
  color: $green;
}

.color-white {
  color: $white;
}

.l-pageHeading-title {
  font-size: 24px;
  font-family: $extraBold;
}

.help-block {
  font-size: 12px;
  color: $light-color;
}

.link-ajax {
  span {
    border-bottom: none;
  }
}

.required-mark {
  color: $main-color;
}

.l-pageSubheading {
  font-size: 16px;
  font-family: $bold;
}
//font-end

//dropdown-menu

.l-categories-list > li > a:hover {
  color: $main-color;
  background-color: $layout-color;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
  background-color: $layout-color;
}
.dropdown-menu {
  border-color: $border-color;
  border-radius: 0;
  .divider {
    background-color: $border-color;
  }
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus {
  background: $accent-color;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background: none;
  border: none;
}

.dropdown-menu-full {
  .l-categories-items > li {
    width: 100%;
  }
}
//dropdown-menu-end

.usr-settings-box {
  border-color: $border-color;
  .usr-settings-box-title {
    a {
      font-family: $semiBold;
    }
  }
}


.c-fav {
  text-decoration: none!important;
  &:hover {
    text-decoration: none!important;
  }
  &:focus {
    text-decoration: none!important;
  }
  .c-fav-text-first {
    display: none;
    text-decoration: none!important;
  }
  .c-fav-text-second {
    text-decoration: none!important;
  }
  &.active {
    .c-fav-text-first {
      display: inline-block;
    }
    .c-fav-text-second {
      display: none;
    }
  }
}

//btn

.order-add-btn {
  padding: 12.5px 14.15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 30px;
  background-color: $action-color;
  position: fixed;
  transition: .3s ease-out;
  overflow: hidden;
  bottom: 80px;
  right: 15px;
  box-shadow: 0 0 9px 0 rgba(51, 51, 51, 0.18);
  text-decoration: none!important;
  color: $white;
  outline: none;
  z-index: 10;
  &__icon {
    display:inline-block;
    transition: .3s ease-out;
    font-size: 15px;
    color: $white;
    line-height: 1;
  }
  &__text {
    position: absolute;
    left: -180px;
    top:0;
    color: $white;
    padding: 15px;
    line-height: 1;
    font-size: 12px;
    font-family: $bold;
    transition: .3s ease-out;
    @media(max-width: $md-device) {
      display: none;
    }
  }
  &:hover {
    text-decoration: none;
    .order-add-btn__text {
      left: 0;
    }
    .order-add-btn__icon {
      margin-left: 160px;
      @media(max-width: $md-device) {
        margin-left: 0;
      }
    }
  }
}


.btn {
  padding: 9px 30px;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: inherit;
  background-image: none;
  border: 1px solid $border-color;
  border-radius: 0;
  text-transform: uppercase;
  font-family: $bold;
  &_small-width {
    padding: 9px 10px;
  }
}

.btn-default {
  color: $main-color;
  background-color: $white;
  border-color: $border-color;
  font-size: 12px;
  transition: .2s ease-out;
  height: 35px;
}
.btn-default:focus,
.btn-default.focus {
  color: $main-color;
  background-color: $footer-bg;
  border-color: $border-color;
}
.btn-default:hover {
  color: $main-color;
  background-color: $footer-bg;
  border-color: $border-color;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: $main-color;
  background-color: $footer-bg;
  border-color: $border-color;
}
.btn-default:active:hover,
.btn-default.active:hover,
.open > .dropdown-toggle.btn-default:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.open > .dropdown-toggle.btn-default:focus,
.btn-default:active.focus,
.btn-default.active.focus,
.open > .dropdown-toggle.btn-default.focus {
  color: $main-color;
  background-color: $footer-bg;
  border-color: $border-color;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus {
  background-color: $footer-bg;
  border-color: $border-color;
}
.btn-default .badge {
  color: #fff;
  background-color: #333;
}


.btn-default-accent {
  color: $white;
  background-color: $accent-color;
  border: none;
  font-size: 12px;
  transition: .2s ease-out;
  height: 35px;
}
.btn-default-accent:focus,
.btn-default-accent.focus {
  color: $white;
  background-color: $accent-color-hover;
  border-color: inherit;
}
.btn-default-accent:hover {
  color: $white;
  background-color: $accent-color-hover;
  border-color: inherit;
}
.btn-default-accent:active,
.btn-default-accent.active,
.open > .dropdown-toggle.btn-default-accent {
  color: $white;
  background-color: $accent-color-hover;
  border-color: inherit;
}
.btn-default-accent:active:hover,
.btn-default-accent.active:hover,
.open > .dropdown-toggle.btn-default-accent:hover,
.btn-default-accent:active:focus,
.btn-default-accent.active:focus,
.open > .dropdown-toggle.btn-default-accent:focus,
.btn-default-accent:active.focus,
.btn-default-accent.active.focus,
.open > .dropdown-toggle.btn-default-accent.focus {
  color: $white;
  background-color: $accent-color-hover;
  border-color: inherit;
}
.btn-default-accent:active,
.btn-default-accent.active,
.open > .dropdown-toggle.btn-default-accent {
  background-image: none;
}
.btn-default-accent.disabled:hover,
.btn-default-accent[disabled]:hover,
fieldset[disabled] .btn-default-accent:hover,
.btn-default-accent.disabled:focus,
.btn-default-accent[disabled]:focus,
fieldset[disabled] .btn-default-accent:focus,
.btn-default-accent.disabled.focus,
.btn-default-accent[disabled].focus,
fieldset[disabled] .btn-default-accent.focus {
  color: $white;
  background-color: $accent-color-hover;
  border-color: inherit;
}
.btn-default-accent .badge {
  color: $white;
  background-color: $accent-color;
  border-color: inherit;
}

.btn-default-empty {
  color: $accent-color;
  background-color: $white;
  border-color: $border-color;
  padding: 8px 30px;
}
.btn-default-empty:focus,
.btn-default-empty.focus {
  color: $accent-color;
  background-color: $white;
  border-color: $accent-color;
}
.btn-default-empty:hover {
  color: $accent-color;
  background-color: $white;
  border-color: $accent-color;
}
.btn-default-empty:active,
.btn-default-empty.active,
.open > .dropdown-toggle.btn-default-empty {
  color: $accent-color;
  background-color: $white;
  border-color: $accent-color;
}
.btn-default-empty:active:hover,
.btn-default-empty.active:hover,
.open > .dropdown-toggle.btn-default-empty:hover,
.btn-default-empty:active:focus,
.btn-default-empty.active:focus,
.open > .dropdown-toggle.btn-default-empty:focus,
.btn-default-empty:active.focus,
.btn-default-empty.active.focus,
.open > .dropdown-toggle.btn-default.focus {
  color: $accent-color;
  background-color: $white;
  border-color: $accent-color;
}
.btn-default-empty:active,
.btn-default-empty.active,
.open > .dropdown-toggle.btn-default-empty {
  background-image: none;
}
.btn-default-empty.disabled:hover,
.btn-default-empty[disabled]:hover,
fieldset[disabled] .btn-default-empty:hover,
.btn-default-empty.disabled:focus,
.btn-default-empty[disabled]:focus,
fieldset[disabled] .btn-default-empty:focus,
.btn-default-empty.disabled.focus,
.btn-default-empty[disabled].focus,
fieldset[disabled] .btn-default-empty.focus {
  background-color: $white;
  border-color: $accent-color;
}
.btn-default-empty .badge {
  color: $accent-color;
  background-color: $white;
  border-color: $accent-color;
}


.btn-success {
  color: #fff;
  background-color: $action-color;
  border: none;
}
.btn-success:focus,
.btn-success.focus {
  color: #fff;
  background-color: $action-color-hover;
  border: none;
}
.btn-success:hover {
  color: #fff;
  background-color: $action-color-hover;
  border: none;
}
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  color: #fff;
  background-color: $action-color-hover;
  border: none;
}
.btn-success:active:hover,
.btn-success.active:hover,
.open > .dropdown-toggle.btn-success:hover,
.btn-success:active:focus,
.btn-success.active:focus,
.open > .dropdown-toggle.btn-success:focus,
.btn-success:active.focus,
.btn-success.active.focus,
.open > .dropdown-toggle.btn-success.focus {
  color: #fff;
  background-color: $action-color-hover;
  border: none;
}
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  background-image: none;
}
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled.focus,
.btn-success[disabled].focus,
fieldset[disabled] .btn-success.focus {
  background-color: $action-color-hover;
  border: none;
}
.btn-success .badge {
  background-color: $action-color-hover;
  border: none;
}

.btn-app {
  background: $main-color;
  border: none;
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-family: $light;
  text-transform: inherit;
  padding-left: 10px;
  padding-right: 10px;
  &:hover {
    background: $main-color;
    border: none;
    color: $white;
  }
  &:focus {
    background: $main-color;
    border: none;
    color: $white;
  }
  i {
    margin-right: 5px;
    font-size: 18px;
  }
}

.btn-sm {
  padding: 5px 15px;
  height: auto;
}

//btn-end

.nowrap {
  white-space: nowrap;
}

.dropdown-select {
  height: auto;
  border: 1px solid $border-color;
  padding: 3px 10px;
  display: inline-block;
  color: $main-color;
  &:hover {
    color: $main-color;
    text-decoration: none;
  }
  &:focus {
    color: $main-color;
    text-decoration: none;
  }
}

.dropdown-menu-close {
  font-size: 14px;
}

.w100p {
  width: 100%;
}

.flex {
  display: flex;
  &_center {
    align-items: center;
  }
  &_fdc {
    flex-direction: column;
  }
  &_jcc {
    justify-content: center;
  }
  &_sb {
    justify-content: space-between;
  }
  &_row_sm {
    @media(max-width: $sm-device) {
      flex-direction: column;
    }
  }
  &_column-reverse_sm {
    @media(max-width: $sm-device) {
      flex-direction: column-reverse;
    }
  }
  &_column-reverse_md {
    @media(max-width: $md-device) {
      flex-direction: column-reverse;
    }
  }
  &_wrap {
    flex-wrap: wrap;
  }
  &_0-0-a {
    flex: 0 0 auto;
  }
  &_column {
    flex-direction: column;
  }
}

.modal-noomb {
  .modal-dialog {
    border-radius: 0;
  }
  .modal-content {
    border-radius: 0;
  }
  .modal-header {
    padding: 30px 20px;
    border-bottom: none;
    h4 {
      font-size: 24px;
      font-family:$extraBold;

    }
  }
  .close {
    font-size: 12px;
    margin-top: 0px;
  }
}

.index-map__region {
  fill: $border-color;
  &:hover {
    fill: $accent-color!important;
  }
}

.map-country {
  .index-map__region {
    fill: $border-color;
    &:hover {
      fill: $border-color!important;
    }
    &.index-map__select-country {
      fill: #acc0d2 !important;
      &:hover {
        fill: $accent-color!important;
      }
    }
  }
}

.modal-noomb {
  .index-map__info {
    position: fixed;
  }
}

.j-show-country {
  .index-map__info {
    position: absolute;
  }
}

.index-map__info {
  font-size:14px;
  font-family: $bold;
  background: none;
  padding: 0;
}

.country-list {
  margin: 40px 0 0 0;
  padding: 0 70px 20px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  li {
    display: inline-block;
    width: 33%;
    padding-bottom: 10px;
    padding-right: 10px;
    a {
      color: $main-color;
      &:hover, &:focus {
        text-decoration: none;
        color: $accent-color;
      }
      img {
        position: relative;
        top: -2px;
        margin-right: 15px;
        max-width: 25px;
      }
    }
  }
}

.control-group {
  &.error {
    select {
      border-color: #d13636 !important;
    }
    input {
      border-color: #d13636 !important;
    }
    .control-group__text-error {
      color: #d13636 !important;
    }
  }
}


.ad-gallery-item {
  background-color: $footer-bg;
  border: none;
}
.ad-gallery-first {
  > .ad-gallery-item_preview {
    border: none;
  }
}
.ad-gallery-item-in {
  text-decoration: none;
  outline: none;
  color: $accent-color;
  .icon-close {
    transform: rotate(45deg);
    font-size: 12px;
    display: inline-block;
  }
  &:hover {
    text-decoration: none;
    color: $accent-color-hover;
  }
}

select {
  text-align: left;
}

.l-filter-options-btn-caret {
  top: 7px;
}

.l-filter-options-btn {
  padding: 7px 30px 7px 15px;
}

.l-filter-options-btn-value {
  color: $light-color;
}

.country-icon-ch {
  width: 11px;
}

.settings-input {
  .input-phone {
    height: 35px;
  }
  .country-icon {
    z-index: 4;
  }
}

.hr {
  border-color: $border-color;
}