$main-color: #2C3033;

$light-color: #8B98A1;

$action-color: #FF7036;
$action-color-hover: #f9723b;

$green: #00ad5e;

$accent-color: #259FED;
$accent-color-hover: #0d90e4;

$border-color: #C0CBD2;
$layout-color: #DDE2E5;
$footer-bg: #F4F6F8;

$white: #ffffff;


//fonts
$light: 'OpenSans-Light';
$extraBold: 'OpenSans-ExtraBold';
$bold: 'OpenSans-Bold';
$semiBold: 'OpenSans-SemiBold';
$black: 'OpenSans-Bold';
$regular: 'OpenSans-Regular';

// RESPONSIVE
$lg-device: 1199px;
$md-device: 991px;
$sm-device: 767px;
$xs-device: 425px;  

//FONTS
