a:8:{s:9:"mtemplate";i:1;s:5:"title";a:5:{s:2:"en";s:6:"Prices";s:2:"fr";s:0:"";s:2:"de";s:0:"";s:2:"no";s:0:"";s:2:"nl";s:0:"";}s:7:"content";a:5:{s:2:"en";s:26691:"<p>&nbsp;<span style="font-family: Arial; font-size: 14px; -webkit-text-stroke-color: rgb(0, 0, 0); -webkit-text-stroke-width: initial; background-color: rgb(247, 247, 247);">Cost of services</span></p>
<p style="margin: 0px; font-stretch: normal; font-size: 14px; line-height: normal; font-family: Arial; -webkit-text-stroke-width: initial; -webkit-text-stroke-color: rgb(0, 0, 0); background-color: rgb(247, 247, 247); min-height: 16px;">&nbsp;</p>
<p style="margin: 0px; font-stretch: normal; line-height: normal; font-family: Arial; -webkit-text-stroke-width: initial; -webkit-text-stroke-color: rgb(0, 0, 0); background-color: rgb(247, 247, 247);"><span style="font-kerning: none">At Noomb.com you can place your ad for FREE, so you don't need to pay a commission </span></p>
<p style="margin: 0px; font-stretch: normal; line-height: normal; font-family: Arial; -webkit-text-stroke-width: initial; -webkit-text-stroke-color: rgb(0, 0, 0); background-color: rgb(247, 247, 247);"><span style="font-kerning: none">on the fact of sale. To attract more potential buyers to your ad, you can use additional services.</span></p>
<p style="margin: 0px; font-stretch: normal; line-height: normal; font-family: Arial; -webkit-text-stroke-width: initial; -webkit-text-stroke-color: rgb(0, 0, 0); min-height: 14px;">&nbsp;</p>
<p style="margin: 0px; font-stretch: normal; line-height: normal; font-family: Arial; -webkit-text-stroke-width: initial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="font-kerning: none">Prices for basic services</span></p>
<p style="margin: 0px; font-stretch: normal; line-height: normal; font-family: Arial; -webkit-text-stroke-width: initial; -webkit-text-stroke-color: rgb(0, 0, 0); min-height: 14px;">&nbsp;</p>
<table cellspacing="0" cellpadding="0" style="border-collapse: collapse">
    <tbody>
        <tr>
            <td valign="top" style="width: 340.0px; height: 15.0px; background-color: #cccccc; padding: 4.0px 4.0px 4.0px 4.0px">
            <p style="margin: 0px; font-stretch: normal; font-size: 14px; line-height: normal; font-family: &quot;Helvetica Neue&quot;; color: rgb(12, 97, 171); -webkit-text-stroke-width: initial; -webkit-text-stroke-color: rgb(12, 97, 171);"><span style="font-kerning: none">Service</span></p>
            </td>
            <td valign="top" style="width: 125.0px; height: 15.0px; background-color: #cccccc; padding: 4.0px 4.0px 4.0px 4.0px">
            <p style="margin: 0px; text-align: center; font-stretch: normal; font-size: 14px; line-height: normal; font-family: &quot;Helvetica Neue&quot;; color: rgb(12, 97, 171); -webkit-text-stroke-width: initial; -webkit-text-stroke-color: rgb(12, 97, 171);"><span style="font-kerning: none">Price</span></p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 340.0px; height: 17.0px; background-color: #ebebeb; padding: 4.0px 4.0px 4.0px 4.0px">
            <p style="margin: 0px; font-stretch: normal; font-size: 14px; line-height: normal; font-family: &quot;Helvetica Neue&quot;; -webkit-text-stroke-width: initial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="font-kerning: none">User registration</span></p>
            </td>
            <td valign="top" style="width: 125px; height: 17px; padding: 4px;">
            <p style="margin: 0px; text-align: center; font-stretch: normal; font-size: 14px; line-height: normal; font-family: &quot;Helvetica Neue&quot;; -webkit-text-stroke-width: initial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="font-kerning: none"><b>FREE</b></span></p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 340.0px; height: 16.0px; padding: 4.0px 4.0px 4.0px 4.0px">
            <p style="margin: 0px; font-stretch: normal; font-size: 14px; line-height: normal; font-family: &quot;Helvetica Neue&quot;; -webkit-text-stroke-width: initial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="font-kerning: none">Mobile application iOS / Android</span></p>
            </td>
            <td valign="top" style="width: 125px; height: 16px; padding: 4px;">
            <p style="margin: 0px; text-align: center; font-stretch: normal; font-size: 14px; line-height: normal; font-family: &quot;Helvetica Neue&quot;; -webkit-text-stroke-width: initial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="font-kerning: none"><b>FREE</b></span></p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 340.0px; height: 17.0px; background-color: #ebebeb; padding: 4.0px 4.0px 4.0px 4.0px">
            <p style="margin: 0px; font-stretch: normal; font-size: 14px; line-height: normal; font-family: &quot;Helvetica Neue&quot;; -webkit-text-stroke-width: initial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="font-kerning: none">Adding your Ads</span></p>
            </td>
            <td valign="top" style="width: 125px; height: 17px; padding: 4px;">
            <p style="margin: 0px; text-align: center; font-stretch: normal; font-size: 14px; line-height: normal; font-family: &quot;Helvetica Neue&quot;; -webkit-text-stroke-width: initial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="font-kerning: none"><b>FREE</b></span></p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 340.0px; height: 16.0px; padding: 4.0px 4.0px 4.0px 4.0px">
            <p style="margin: 0px; font-stretch: normal; font-size: 14px; line-height: normal; font-family: &quot;Helvetica Neue&quot;; -webkit-text-stroke-width: initial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="font-kerning: none">Selling or buying a product or service</span></p>
            </td>
            <td valign="top" style="width: 125px; height: 16px; padding: 4px;">
            <p style="margin: 0px; text-align: center; font-stretch: normal; font-size: 14px; line-height: normal; font-family: &quot;Helvetica Neue&quot;; -webkit-text-stroke-width: initial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="font-kerning: none"><b>FREE</b></span></p>
            </td>
        </tr>
    </tbody>
</table>
<p style="margin: 0px; font-stretch: normal; font-size: 14px; line-height: normal; font-family: Arial; -webkit-text-stroke-width: initial; -webkit-text-stroke-color: rgb(0, 0, 0);">&nbsp;</p>
<p style="margin: 0px; font-stretch: normal; font-size: 14px; line-height: normal; font-family: Arial; -webkit-text-stroke-width: initial; -webkit-text-stroke-color: rgb(0, 0, 0);">&nbsp;</p>
<p style="margin: 0px; font-stretch: normal; font-size: 14px; line-height: normal; font-family: Arial; -webkit-text-stroke-width: initial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="font-kerning: none">Prices for additional services</span></p>
<p style="margin: 0px; font-stretch: normal; font-size: 14px; line-height: normal; font-family: Arial; -webkit-text-stroke-width: initial; -webkit-text-stroke-color: rgb(0, 0, 0); min-height: 16px;">&nbsp;</p>
<table cellspacing="0" cellpadding="0" style="border-collapse: collapse">
    <tbody>
        <tr>
            <td valign="top" style="width: 445.0px; height: 15.0px; background-color: #cccccc; padding: 4.0px 4.0px 4.0px 4.0px">
            <p style="margin: 0px; font-stretch: normal; font-size: 14px; line-height: normal; font-family: &quot;Helvetica Neue&quot;; color: rgb(12, 97, 171); -webkit-text-stroke-width: initial; -webkit-text-stroke-color: rgb(12, 97, 171);"><span style="font-kerning: none">Service</span></p>
            </td>
            <td valign="top" style="width: 129.0px; height: 15.0px; background-color: #cccccc; padding: 4.0px 4.0px 4.0px 4.0px">
            <p style="margin: 0px; text-align: center; font-stretch: normal; font-size: 14px; line-height: normal; font-family: &quot;Helvetica Neue&quot;; color: rgb(12, 97, 171); -webkit-text-stroke-width: initial; -webkit-text-stroke-color: rgb(12, 97, 171);"><span style="font-kerning: none">Duration</span></p>
            </td>
            <td valign="top" style="width: 128.0px; height: 15.0px; background-color: #cccccc; padding: 4.0px 4.0px 4.0px 4.0px">
            <p style="margin: 0px; text-align: center; font-stretch: normal; font-size: 14px; line-height: normal; font-family: &quot;Helvetica Neue&quot;; color: rgb(12, 97, 171); -webkit-text-stroke-width: initial; -webkit-text-stroke-color: rgb(12, 97, 171);"><span style="font-kerning: none">Price (Eur)&nbsp;</span></p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 445.0px; height: 59.0px; background-color: #ebebeb; padding: 4.0px 4.0px 4.0px 4.0px">
            <p style="margin: 0px; text-align: justify; font-stretch: normal; font-size: 14px; line-height: normal; font-family: &quot;Helvetica Neue&quot;; -webkit-text-stroke-width: initial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="font-kerning: none"><b>Main page</b></span></p>
            <p style="margin: 0px; text-align: justify; font-stretch: normal; line-height: normal; font-family: &quot;Helvetica Neue&quot;; -webkit-text-stroke-width: initial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="font-kerning: none">Advertising on the main page. Ads are distributed evenly and displayed alternately. Showing a banner during each loading of the main page of the site is not guaranteed.</span></p>
            </td>
            <td valign="top" style="width: 129px; height: 59px; padding: 4px;">
            <p style="margin: 0px; font-stretch: normal; font-size: 14px; line-height: normal; font-family: &quot;Helvetica Neue&quot;; -webkit-text-stroke-width: initial; -webkit-text-stroke-color: rgb(0, 0, 0); min-height: 16px;">&nbsp;</p>
            <p style="margin: 0px; text-align: center; font-stretch: normal; font-size: 14px; line-height: normal; font-family: &quot;Helvetica Neue&quot;; -webkit-text-stroke-width: initial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="font-kerning: none">1 WEEK</span></p>
            </td>
            <td valign="top" style="width: 128px; height: 59px; padding: 4px;">
            <p style="margin: 0px; font-stretch: normal; font-size: 14px; line-height: normal; font-family: &quot;Helvetica Neue&quot;; -webkit-text-stroke-width: initial; -webkit-text-stroke-color: rgb(0, 0, 0); min-height: 16px;">&nbsp;</p>
            <p style="margin: 0px; text-align: center; font-stretch: normal; font-size: 14px; line-height: normal; font-family: &quot;Helvetica Neue&quot;; -webkit-text-stroke-width: initial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="font-kerning: none">20&nbsp;&euro;</span></p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 445.0px; height: 44.0px; padding: 4.0px 4.0px 4.0px 4.0px">
            <p style="margin: 0px; font-stretch: normal; font-size: 14px; line-height: normal; font-family: &quot;Helvetica Neue&quot;; -webkit-text-stroke-width: initial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="font-kerning: none"><b>Guaranteed display on the main page</b></span></p>
            <p style="margin: 0px; font-stretch: normal; line-height: normal; font-family: &quot;Helvetica Neue&quot;; -webkit-text-stroke-width: initial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="font-kerning: none">Available only as an addition to the &quot;Main Page&quot; service. Guaranteed display during each loading of the first page of the site. The number of ads is limited.</span></p>
            </td>
            <td valign="top" style="width: 129px; height: 44px; padding: 4px;">
            <p style="margin: 0px; font-stretch: normal; font-size: 14px; line-height: normal; font-family: &quot;Helvetica Neue&quot;; -webkit-text-stroke-width: initial; -webkit-text-stroke-color: rgb(0, 0, 0); min-height: 16px;">&nbsp;</p>
            <p style="margin: 0px; text-align: center; font-stretch: normal; font-size: 14px; line-height: normal; font-family: &quot;Helvetica Neue&quot;; -webkit-text-stroke-width: initial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="font-kerning: none">1 WEEK</span></p>
            </td>
            <td valign="top" style="width: 128px; height: 44px; padding: 4px;">
            <p style="margin: 0px; font-stretch: normal; font-size: 14px; line-height: normal; font-family: &quot;Helvetica Neue&quot;; -webkit-text-stroke-width: initial; -webkit-text-stroke-color: rgb(0, 0, 0); min-height: 17px;">&nbsp;</p>
            <p style="margin: 0px; text-align: center; font-stretch: normal; font-size: 14px; line-height: normal; font-family: &quot;Helvetica Neue&quot;; -webkit-text-stroke-width: initial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="font-kerning: none">20&nbsp;&euro;</span></p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 445.0px; height: 73.0px; background-color: #ebebeb; padding: 4.0px 4.0px 4.0px 4.0px">
            <p style="margin: 0px; font-stretch: normal; font-size: 14px; line-height: normal; font-family: &quot;Helvetica Neue&quot;; -webkit-text-stroke-width: initial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="font-kerning: none"><b>Favorites announcement</b></span></p>
            <p style="margin: 0px; font-stretch: normal; line-height: normal; font-family: &quot;Helvetica Neue&quot;; -webkit-text-stroke-width: initial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="font-kerning: none">Placement in the &quot;Favorite Ads&quot; list located above the rest of the ads in the selected section and top-level sections (for example, if the &quot;Women's Perfumery&quot; section is selected, then the ad will be visible in the &quot;Perfumery&quot; section, and in the &quot;Health and Beauty&quot; section .</span></p>
            </td>
            <td valign="top" style="width: 129px; height: 73px; padding: 4px;">
            <p style="margin: 0px; font-stretch: normal; font-size: 14px; line-height: normal; font-family: &quot;Helvetica Neue&quot;; -webkit-text-stroke-width: initial; -webkit-text-stroke-color: rgb(0, 0, 0); min-height: 16px;">&nbsp;</p>
            <p style="margin: 0px; text-align: center; font-stretch: normal; font-size: 14px; line-height: normal; font-family: &quot;Helvetica Neue&quot;; -webkit-text-stroke-width: initial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="font-kerning: none">1 WEEK</span></p>
            </td>
            <td valign="top" style="width: 128px; height: 73px; padding: 4px;">
            <p style="margin: 0px; font-stretch: normal; font-size: 14px; line-height: normal; font-family: &quot;Helvetica Neue&quot;; -webkit-text-stroke-width: initial; -webkit-text-stroke-color: rgb(0, 0, 0); min-height: 16px;">&nbsp;</p>
            <p style="margin: 0px; text-align: center; font-stretch: normal; font-size: 14px; line-height: normal; font-family: &quot;Helvetica Neue&quot;; -webkit-text-stroke-width: initial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="font-kerning: none">5&nbsp;&euro;</span></p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 445.0px; height: 45.0px; padding: 4.0px 4.0px 4.0px 4.0px">
            <p style="margin: 0px; font-stretch: normal; font-size: 14px; line-height: normal; font-family: &quot;Helvetica Neue&quot;; -webkit-text-stroke-width: initial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="font-kerning: none"><b>Ad renewal</b></span></p>
            <p style="margin: 0px; font-stretch: normal; line-height: normal; font-family: &quot;Helvetica Neue&quot;; -webkit-text-stroke-width: initial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="font-kerning: none">The ad is not deleted due to the expiration of the deadline, and will be displayed on the site for another 90 days.</span></p>
            </td>
            <td valign="top" style="width: 129px; height: 45px; padding: 4px;">
            <p style="margin: 0px; text-align: center; font-stretch: normal; font-size: 14px; line-height: normal; font-family: &quot;Helvetica Neue&quot;; -webkit-text-stroke-width: initial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="font-kerning: none">1 time renewal&nbsp;</span></p>
            </td>
            <td valign="top" style="width: 128px; height: 45px; padding: 4px;">
            <p style="margin: 0px; text-align: center; font-stretch: normal; font-size: 14px; line-height: normal; font-family: &quot;Helvetica Neue&quot;; -webkit-text-stroke-width: initial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="font-kerning: none">2&nbsp;&euro;</span></p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 445.0px; height: 44.0px; background-color: #ebebeb; padding: 4.0px 4.0px 4.0px 4.0px">
            <p style="margin: 0px; font-stretch: normal; font-size: 14px; line-height: normal; font-family: &quot;Helvetica Neue&quot;; -webkit-text-stroke-width: initial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="font-kerning: none"><b>Lift up</b></span></p>
            <p style="margin: 0px; font-stretch: normal; line-height: normal; font-family: &quot;Helvetica Neue&quot;; -webkit-text-stroke-width: initial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="font-kerning: none">You can raise your ad so that it is above the rest in the selected section and top-level sections.</span></p>
            </td>
            <td valign="top" style="width: 129px; height: 44px; padding: 4px;">
            <p style="margin: 0px; text-align: center; font-stretch: normal; font-size: 14px; line-height: normal; font-family: &quot;Helvetica Neue&quot;; -webkit-text-stroke-width: initial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="font-kerning: none">1 time</span></p>
            </td>
            <td valign="top" style="width: 128px; height: 44px; padding: 4px;">
            <p style="margin: 0px; text-align: center; font-stretch: normal; font-size: 14px; line-height: normal; font-family: &quot;Helvetica Neue&quot;; -webkit-text-stroke-width: initial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="font-kerning: none">2&nbsp;&euro;</span></p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 445.0px; height: 32.0px; padding: 4.0px 4.0px 4.0px 4.0px">
            <p style="margin: 0px; font-stretch: normal; font-size: 14px; line-height: normal; font-family: &quot;Helvetica Neue&quot;; -webkit-text-stroke-width: initial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="font-kerning: none"><b>Highlighted subtitle</b></span></p>
            <p style="margin: 0px; font-stretch: normal; line-height: normal; font-family: &quot;Helvetica Neue&quot;; -webkit-text-stroke-width: initial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="font-kerning: none">A brief description is placed on all pages where your ad is visible.</span></p>
            </td>
            <td valign="top" style="width: 129px; height: 32px; padding: 4px;">
            <p style="margin: 0px; text-align: center; font-stretch: normal; font-size: 14px; line-height: normal; font-family: &quot;Helvetica Neue&quot;; -webkit-text-stroke-width: initial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="font-kerning: none">For the period of accommodation</span></p>
            </td>
            <td valign="top" style="width: 128px; height: 32px; padding: 4px;">
            <p style="margin: 0px; text-align: center; font-stretch: normal; font-size: 14px; line-height: normal; font-family: &quot;Helvetica Neue&quot;; -webkit-text-stroke-width: initial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="font-kerning: none">2&nbsp;&euro;</span></p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 445.0px; height: 31.0px; background-color: #ebebeb; padding: 4.0px 4.0px 4.0px 4.0px">
            <p style="margin: 0px; font-stretch: normal; font-size: 14px; line-height: normal; font-family: &quot;Helvetica Neue&quot;; -webkit-text-stroke-width: initial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="font-kerning: none"><b>Bright color</b></span></p>
            <p style="margin: 0px; font-stretch: normal; line-height: normal; font-family: &quot;Helvetica Neue&quot;; -webkit-text-stroke-width: initial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="font-kerning: none">Bright background color for a list of your ads in the headings and search pages.</span></p>
            </td>
            <td valign="top" style="width: 129px; height: 31px; padding: 4px;">
            <p style="margin: 0px; text-align: center; font-stretch: normal; font-size: 14px; line-height: normal; font-family: &quot;Helvetica Neue&quot;; -webkit-text-stroke-width: initial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="font-kerning: none">1 WEEK</span></p>
            </td>
            <td valign="top" style="width: 128px; height: 31px; padding: 4px;">
            <p style="margin: 0px; text-align: center; font-stretch: normal; font-size: 14px; line-height: normal; font-family: &quot;Helvetica Neue&quot;; -webkit-text-stroke-width: initial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="font-kerning: none">2&nbsp;&euro;</span></p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 445.0px; height: 30.0px; padding: 4.0px 4.0px 4.0px 4.0px">
            <p style="margin: 0px; font-stretch: normal; font-size: 14px; line-height: normal; font-family: &quot;Helvetica Neue&quot;; -webkit-text-stroke-width: initial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="font-kerning: none"><b>Ad frame</b></span></p>
            <p style="margin: 0px; font-stretch: normal; line-height: normal; font-family: &quot;Helvetica Neue&quot;; -webkit-text-stroke-width: initial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="font-kerning: none">Beautiful rectangular frame for selected ads in the headings and search pages.</span></p>
            </td>
            <td valign="top" style="width: 129px; height: 30px; padding: 4px;">
            <p style="margin: 0px; text-align: center; font-stretch: normal; font-size: 14px; line-height: normal; font-family: &quot;Helvetica Neue&quot;; -webkit-text-stroke-width: initial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="font-kerning: none">1 WEEK</span></p>
            </td>
            <td valign="top" style="width: 128px; height: 30px; padding: 4px;">
            <p style="margin: 0px; text-align: center; font-stretch: normal; font-size: 14px; line-height: normal; font-family: &quot;Helvetica Neue&quot;; -webkit-text-stroke-width: initial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="font-kerning: none">2&nbsp;&euro;</span></p>
            </td>
        </tr>
    </tbody>
</table>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><strong><span style="font-family: Arial; font-size: 14px; -webkit-text-stroke-color: rgb(0, 0, 0); -webkit-text-stroke-width: initial;">Prices for the using your personal e-Wallet</span></strong></p>
<table cellspacing="0" cellpadding="0" style="border-collapse: collapse">
    <tbody>
        <tr>
            <td valign="top" style="width: 367.0px; height: 16.0px; background-color: #cccccc; padding: 4.0px 4.0px 4.0px 4.0px">
            <p style="margin: 0px; font-stretch: normal; font-size: 14px; line-height: normal; font-family: &quot;Helvetica Neue&quot;; color: rgb(12, 97, 171); -webkit-text-stroke-width: initial; -webkit-text-stroke-color: rgb(12, 97, 171);"><span style="font-kerning: none">Service</span></p>
            </td>
            <td valign="top" style="width: 345.0px; height: 16.0px; background-color: #cccccc; padding: 4.0px 4.0px 4.0px 4.0px">
            <p style="margin: 0px; text-align: center; font-stretch: normal; font-size: 14px; line-height: normal; font-family: &quot;Helvetica Neue&quot;; color: rgb(12, 97, 171); -webkit-text-stroke-width: initial; -webkit-text-stroke-color: rgb(12, 97, 171);"><span style="font-kerning: none">Price (Eur)&nbsp;</span></p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 367.0px; height: 17.0px; background-color: #ebebeb; padding: 4.0px 4.0px 4.0px 4.0px">
            <p style="margin: 0px; text-align: justify; font-stretch: normal; font-size: 14px; line-height: normal; font-family: &quot;Helvetica Neue&quot;; -webkit-text-stroke-width: initial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="font-kerning: none"><b>PURCHASE</b></span></p>
            </td>
            <td valign="top" style="width: 345px; height: 17px; padding: 4px;">
            <p style="margin: 0px; text-align: center; font-stretch: normal; font-size: 14px; line-height: normal; font-family: &quot;Helvetica Neue&quot;; -webkit-text-stroke-width: initial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="font-kerning: none">FREE</span></p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="width: 367.0px; height: 17.0px; padding: 4.0px 4.0px 4.0px 4.0px">
            <p style="margin: 0px; font-stretch: normal; font-size: 14px; line-height: normal; font-family: &quot;Helvetica Neue&quot;; -webkit-text-stroke-width: initial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="font-kerning: none"><b>SALE</b></span></p>
            </td>
            <td valign="top" style="width: 345px; height: 17px; padding: 4px;">
            <p style="margin: 0px; text-align: center; font-stretch: normal; line-height: normal; font-family: &quot;Helvetica Neue&quot;; -webkit-text-stroke-width: initial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="font-stretch: normal; font-size: 14px; line-height: normal; -webkit-font-kerning: none;">0,50&euro; + 5% </span><span style="font-kerning: none">of the transaction amount</span></p>
            </td>
        </tr>
    </tbody>
</table>
<p style="margin: 0px; font-stretch: normal; font-size: 14px; line-height: normal; font-family: Arial; -webkit-text-stroke-width: initial; -webkit-text-stroke-color: rgb(0, 0, 0); min-height: 16px;">&nbsp;</p>
<p style="margin: 0px; font-stretch: normal; font-size: 14px; line-height: normal; font-family: Arial; -webkit-text-stroke-width: initial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="font-kerning: none">*** You need to top up <a href="https://noomb.com/user/login">your balance</a> to use additional services. Enrollment and payment services activation is instantaneous.</span></p>
<p style="text-align: justify;">&nbsp;</p>";s:2:"fr";s:0:"";s:2:"de";s:0:"";s:2:"no";s:0:"";s:2:"nl";s:0:"";}s:6:"mtitle";a:5:{s:2:"en";s:0:"";s:2:"fr";s:0:"";s:2:"de";s:0:"";s:2:"no";s:0:"";s:2:"nl";s:0:"";}s:9:"mkeywords";a:5:{s:2:"en";s:0:"";s:2:"fr";s:0:"";s:2:"de";s:0:"";s:2:"no";s:0:"";s:2:"nl";s:0:"";}s:12:"mdescription";a:5:{s:2:"en";s:0:"";s:2:"fr";s:0:"";s:2:"de";s:0:"";s:2:"no";s:0:"";s:2:"nl";s:0:"";}s:8:"issystem";i:0;s:7:"noindex";i:0;}