a:8:{s:9:"mtemplate";i:1;s:5:"title";a:5:{s:2:"en";s:48:"Requirements to Placement and Content of Adverts";s:2:"fr";s:48:"Requirements to Placement and Content of Adverts";s:2:"de";s:48:"Requirements to Placement and Content of Adverts";s:2:"no";s:48:"Requirements to Placement and Content of Adverts";s:2:"nl";s:48:"Requirements to Placement and Content of Adverts";}s:7:"content";a:5:{s:2:"en";s:12302:"<p>&nbsp;<span style="text-decoration: underline; font-family: Arial; font-size: 9.5px; text-align: justify; -webkit-text-stroke-color: rgb(0, 0, 0); -webkit-text-stroke-width: initial;">Requirements to Placement and Content of Adverts</span></p>
<ol>
    <li style="margin: 0px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-width: initial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="font-kerning: none">Advert shall be Legal</span></li>
</ol>
<p style="margin: 0px; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-width: initial; -webkit-text-stroke-color: rgb(0, 0, 0); text-align: justify;"><span style="font-kerning: none">Do not place the statements, terms and conditions or the information violating the law of the European Union member states, or the third parties&rsquo; rights contributing to such violations, in the adverts.</span></p>
<p style="margin: 0px; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-width: initial; -webkit-text-stroke-color: rgb(0, 0, 0); text-align: justify;"><span style="font-kerning: none">You shall be entitled to place the adverts only for the goods, services, vacancies, facilities and other offers (hereinafter referred to as the &ldquo;Goods&rdquo;) in respect of which you have all the required rights, licenses, registration, permits, certificates, etc.</span></p>
<p style="margin: 0px 0px 6px; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-width: initial; -webkit-text-stroke-color: rgb(0, 0, 0); text-align: justify;"><span style="font-kerning: none">Before placing an Advert you must make sure that all the elements are legal (including the photos, video, links to the external websites, where they are allowed). You shall be personally liable for any law violations or infringement of the third parties&rsquo; rights.</span></p>
<ol start="2">
    <li style="margin: 0px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-width: initial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="font-kerning: none">Information in the Advert shall Be True and Complete</span></li>
</ol>
<p style="margin: 0px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-width: initial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="font-kerning: none">Placement of any information, which may mislead people in respect of your goods or the terms and conditions of your offer, is considered a gross violation of the Noomb rules by us.</span></p>
<p style="margin: 0px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-width: initial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="font-kerning: none">If your offer shall, by virtue of the law, contain any particular information, you have to specify it.</span></p>
<p style="margin: 0px 0px 6px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-width: initial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="font-kerning: none">You shall be fully personally liable for distribution of an advert with no obligatory information or false information specified.</span></p>
<ol start="3">
    <li style="margin: 0px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-width: initial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="font-kerning: none">Advert shall Conform to Noomb Categories</span></li>
</ol>
<p style="margin: 0px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-width: initial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="font-kerning: none">Place adverts only for the goods for which there is a related category on Noomb. Do not place adverts on donations request, services ordering, financial aid request, acquaintances, found, lost, purchased or searched items. Exceptions: you may place an advert on purchase of Real Estate only in the category &ldquo;<i>Real Estate</i>&rdquo;, whereas an advert on a job search or a vacant position &mdash; only in the category &ldquo;<i>Work</i>&rdquo;.</span></p>
<p style="margin: 0px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-width: initial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="font-kerning: none">You may place several goods items the same advert only if they comprise a set or correspond to the same category. For example, you may offer a fishing rod and a diving suit in the same advert in the category &ldquo;<i>Hunting and Fishing</i>&rdquo;, but you cannot offer the car for going fishing in it. Exceptions: you must place offers in separate adverts in the following categories: &ldquo;<i>Real</i> <i>Estate</i>&rdquo;, &ldquo;<i>Transport</i>&rdquo; and &ldquo;<i>Vacancies</i>&rdquo; sub-category.</span></p>
<p style="margin: 0px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-width: initial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="font-kerning: none">You may place the adverts within the same category using only one profile.</span></p>
<p style="margin: 0px 0px 6px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-width: initial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="font-kerning: none">We shall be entitled to limit the number of the adverts placed free-of-charge for certain categories and regions (limit). Upon achievement of the limit, in accordance with the Terms and Conditions of Advert Paid Placement the subsequent placement of a new advert or activation of the existing advert is possible only on a paid basis in the respective categories and regions within 30 calendar days.</span></p>
<ol start="4">
    <li style="margin: 0px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-width: initial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="font-kerning: none">The Offer shall be Specific, Existent and Relevant</span></li>
</ol>
<p style="margin: 0px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-width: initial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="font-kerning: none">Place the adverts about the certain existent goods having consumer value. If you place an advert on the sale of goods, you shall be ready to transfer the goods to the buyer, if you place the advert about a service provision, you shall be ready to render it, etc. For example, one cannot sell the donut hole or let the apartment on Saturn planet on lease on Noomb. You are kindly asked to remember, that placement of an advert may result in your obligation to the potential buyer to conclude and fulfil and deal in accordance with the civil law.</span></p>
<p style="margin: 0px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-width: initial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="font-kerning: none">If you sold the goods, or your offer ceased to be relevant for other reasons, remove this advert from publication as soon as possible. Do not change the content of the previously published advert &mdash; create a new advert for the new offer.</span></p>
<p style="margin: 0px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-width: initial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="font-kerning: none">Do not place the adverts on the goods sale in auction or by bidding. Exceptions: you may place the advert on auction sale in the following categories: &ldquo;<i>Real Estate</i>&rdquo; and &ldquo;<i>Transport</i>&rdquo; (except for &ldquo;<i>Spare Parts and Accessories</i>&rdquo; sub-category), if there is an express indication of this sale condition in the advert.</span></p>
<p style="margin: 0px 0px 6px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-width: initial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="font-kerning: none">Do not place the general advertising information without any particular offer in the adverts. For this purpose use the special personal page within the &ldquo;</span><span style="-webkit-font-kerning: none; color: rgb(15, 124, 208); -webkit-text-stroke-color: rgb(15, 124, 208);">Subscription</span><span style="font-kerning: none">&rdquo;.</span></p>
<ol start="5">
    <li style="margin: 0px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-width: initial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="font-kerning: none">Prohibition to Place Repeated Adverts</span></li>
</ol>
<p style="margin: 0px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-width: initial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="font-kerning: none">You may place only one existent advert for one goods item.</span></p>
<p style="margin: 0px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-width: initial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="font-kerning: none">This means you cannot place the repeated adverts (duplicates) on offer of the same goods item in various cities or districts. Exceptions: you can place several adverts on the same offer available in several cities in the following categories: &ldquo;Services&rdquo;, &ldquo;Work&rdquo; and in &ldquo;<i>Ready</i>-<i>Made</i> <i>Business</i>&rdquo;, &ldquo;<i>Trucks and Special Vehicles</i>&rdquo;, &ldquo;<i>Water Transport</i>&rdquo;, &ldquo;<i>Motorcycles and Motor Transport</i>&rdquo; sub-categories.</span></p>
<p style="margin: 0px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-width: initial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="font-kerning: none">You also cannot place the repeated adverts (duplicates) on offer of the same goods item using several profiles. Exceptions: an advert of the same item may be placed by different persons, using several profiles (for example, when the item is leased by the owner and several agents authorized by the owner at the same time) in &ldquo;<i>Real Estate</i>&rdquo; category.</span></p>
<p style="margin: 0px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-width: initial; -webkit-text-stroke-color: rgb(0, 0, 0); min-height: 11px;">&nbsp;</p>
<p style="margin: 0px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-width: initial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="font-kerning: none">Placement of a repeated advert (duplicate) shall also be the case when you remove the advert from the publication or delete it (including before expiry of the term of its publication), and then place a new advert with the same goods item, as well as in other region or in other category.</span></p>
<p style="margin: 0px 0px 3px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-width: initial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="font-kerning: none">In case of matching of the advert parameters with the similar parameters of other advert placed earlier, the advert placed later may be regarded as the repeated one and blocked.</span></p>";s:2:"fr";s:12543:"<p>&nbsp;&nbsp;<span style="-webkit-text-stroke-width: initial; text-decoration: underline; font-family: Arial; font-size: 9.5px; text-align: justify; -webkit-text-stroke-color: rgb(0, 0, 0);">Requirements to Placement and Content of Adverts</span></p>
<ol>
    <li style="margin: 0px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-width: initial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="-webkit-font-kerning: none;">Advert shall be Legal</span></li>
</ol>
<p style="-webkit-text-stroke-width: initial; margin: 0px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="-webkit-font-kerning: none;">Do not place the statements, terms and conditions or the information violating the law of the European Union member states, or the third parties&rsquo; rights contributing to such violations, in the adverts.</span></p>
<p style="-webkit-text-stroke-width: initial; margin: 0px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="-webkit-font-kerning: none;">You shall be entitled to place the adverts only for the goods, services, vacancies, facilities and other offers (hereinafter referred to as the &ldquo;Goods&rdquo;) in respect of which you have all the required rights, licenses, registration, permits, certificates, etc.</span></p>
<p style="-webkit-text-stroke-width: initial; margin: 0px 0px 6px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="-webkit-font-kerning: none;">Before placing an Advert you must make sure that all the elements are legal (including the photos, video, links to the external websites, where they are allowed). You shall be personally liable for any law violations or infringement of the third parties&rsquo; rights.</span></p>
<ol start="2">
    <li style="margin: 0px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-width: initial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="-webkit-font-kerning: none;">Information in the Advert shall Be True and Complete</span></li>
</ol>
<p style="-webkit-text-stroke-width: initial; margin: 0px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="-webkit-font-kerning: none;">Placement of any information, which may mislead people in respect of your goods or the terms and conditions of your offer, is considered a gross violation of the Noomb rules by us.</span></p>
<p style="-webkit-text-stroke-width: initial; margin: 0px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="-webkit-font-kerning: none;">If your offer shall, by virtue of the law, contain any particular information, you have to specify it.</span></p>
<p style="-webkit-text-stroke-width: initial; margin: 0px 0px 6px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="-webkit-font-kerning: none;">You shall be fully personally liable for distribution of an advert with no obligatory information or false information specified.</span></p>
<ol start="3">
    <li style="margin: 0px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-width: initial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="-webkit-font-kerning: none;">Advert shall Conform to Noomb Categories</span></li>
</ol>
<p style="-webkit-text-stroke-width: initial; margin: 0px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="-webkit-font-kerning: none;">Place adverts only for the goods for which there is a related category on Noomb. Do not place adverts on donations request, services ordering, financial aid request, acquaintances, found, lost, purchased or searched items. Exceptions: you may place an advert on purchase of Real Estate only in the category &ldquo;<i>Real Estate</i>&rdquo;, whereas an advert on a job search or a vacant position &mdash; only in the category &ldquo;<i>Work</i>&rdquo;.</span></p>
<p style="-webkit-text-stroke-width: initial; margin: 0px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="-webkit-font-kerning: none;">You may place several goods items the same advert only if they comprise a set or correspond to the same category. For example, you may offer a fishing rod and a diving suit in the same advert in the category &ldquo;<i>Hunting and Fishing</i>&rdquo;, but you cannot offer the car for going fishing in it. Exceptions: you must place offers in separate adverts in the following categories: &ldquo;<i>Real</i>&nbsp;<i>Estate</i>&rdquo;, &ldquo;<i>Transport</i>&rdquo; and &ldquo;<i>Vacancies</i>&rdquo; sub-category.</span></p>
<p style="-webkit-text-stroke-width: initial; margin: 0px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="-webkit-font-kerning: none;">You may place the adverts within the same category using only one profile.</span></p>
<p style="-webkit-text-stroke-width: initial; margin: 0px 0px 6px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="-webkit-font-kerning: none;">We shall be entitled to limit the number of the adverts placed free-of-charge for certain categories and regions (limit). Upon achievement of the limit, in accordance with the Terms and Conditions of Advert Paid Placement the subsequent placement of a new advert or activation of the existing advert is possible only on a paid basis in the respective categories and regions within 30 calendar days.</span></p>
<ol start="4">
    <li style="margin: 0px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-width: initial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="-webkit-font-kerning: none;">The Offer shall be Specific, Existent and Relevant</span></li>
</ol>
<p style="-webkit-text-stroke-width: initial; margin: 0px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="-webkit-font-kerning: none;">Place the adverts about the certain existent goods having consumer value. If you place an advert on the sale of goods, you shall be ready to transfer the goods to the buyer, if you place the advert about a service provision, you shall be ready to render it, etc. For example, one cannot sell the donut hole or let the apartment on Saturn planet on lease on Noomb. You are kindly asked to remember, that placement of an advert may result in your obligation to the potential buyer to conclude and fulfil and deal in accordance with the civil law.</span></p>
<p style="-webkit-text-stroke-width: initial; margin: 0px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="-webkit-font-kerning: none;">If you sold the goods, or your offer ceased to be relevant for other reasons, remove this advert from publication as soon as possible. Do not change the content of the previously published advert &mdash; create a new advert for the new offer.</span></p>
<p style="-webkit-text-stroke-width: initial; margin: 0px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="-webkit-font-kerning: none;">Do not place the adverts on the goods sale in auction or by bidding. Exceptions: you may place the advert on auction sale in the following categories: &ldquo;<i>Real Estate</i>&rdquo; and &ldquo;<i>Transport</i>&rdquo; (except for &ldquo;<i>Spare Parts and Accessories</i>&rdquo; sub-category), if there is an express indication of this sale condition in the advert.</span></p>
<p style="-webkit-text-stroke-width: initial; margin: 0px 0px 6px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="-webkit-font-kerning: none;">Do not place the general advertising information without any particular offer in the adverts. For this purpose use the special personal page within the &ldquo;</span><span style="-webkit-font-kerning: none; color: rgb(15, 124, 208); -webkit-text-stroke-color: rgb(15, 124, 208);">Subscription</span><span style="-webkit-font-kerning: none;">&rdquo;.</span></p>
<ol start="5">
    <li style="margin: 0px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-width: initial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="-webkit-font-kerning: none;">Prohibition to Place Repeated Adverts</span></li>
</ol>
<p style="-webkit-text-stroke-width: initial; margin: 0px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="-webkit-font-kerning: none;">You may place only one existent advert for one goods item.</span></p>
<p style="-webkit-text-stroke-width: initial; margin: 0px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="-webkit-font-kerning: none;">This means you cannot place the repeated adverts (duplicates) on offer of the same goods item in various cities or districts. Exceptions: you can place several adverts on the same offer available in several cities in the following categories: &ldquo;Services&rdquo;, &ldquo;Work&rdquo; and in &ldquo;<i>Ready</i>-<i>Made</i>&nbsp;<i>Business</i>&rdquo;, &ldquo;<i>Trucks and Special Vehicles</i>&rdquo;, &ldquo;<i>Water Transport</i>&rdquo;, &ldquo;<i>Motorcycles and Motor Transport</i>&rdquo; sub-categories.</span></p>
<p style="-webkit-text-stroke-width: initial; margin: 0px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="-webkit-font-kerning: none;">You also cannot place the repeated adverts (duplicates) on offer of the same goods item using several profiles. Exceptions: an advert of the same item may be placed by different persons, using several profiles (for example, when the item is leased by the owner and several agents authorized by the owner at the same time) in &ldquo;<i>Real Estate</i>&rdquo; category.</span></p>
<p style="-webkit-text-stroke-width: initial; margin: 0px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-color: rgb(0, 0, 0); min-height: 11px;">&nbsp;</p>
<p style="-webkit-text-stroke-width: initial; margin: 0px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="-webkit-font-kerning: none;">Placement of a repeated advert (duplicate) shall also be the case when you remove the advert from the publication or delete it (including before expiry of the term of its publication), and then place a new advert with the same goods item, as well as in other region or in other category.</span></p>
<p style="-webkit-text-stroke-width: initial; margin: 0px 0px 3px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="-webkit-font-kerning: none;">In case of matching of the advert parameters with the similar parameters of other advert placed earlier, the advert placed later may be regarded as the repeated one and blocked.</span></p>";s:2:"de";s:12543:"<p>&nbsp;&nbsp;<span style="-webkit-text-stroke-width: initial; text-decoration: underline; font-family: Arial; font-size: 9.5px; text-align: justify; -webkit-text-stroke-color: rgb(0, 0, 0);">Requirements to Placement and Content of Adverts</span></p>
<ol>
    <li style="margin: 0px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-width: initial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="-webkit-font-kerning: none;">Advert shall be Legal</span></li>
</ol>
<p style="-webkit-text-stroke-width: initial; margin: 0px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="-webkit-font-kerning: none;">Do not place the statements, terms and conditions or the information violating the law of the European Union member states, or the third parties&rsquo; rights contributing to such violations, in the adverts.</span></p>
<p style="-webkit-text-stroke-width: initial; margin: 0px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="-webkit-font-kerning: none;">You shall be entitled to place the adverts only for the goods, services, vacancies, facilities and other offers (hereinafter referred to as the &ldquo;Goods&rdquo;) in respect of which you have all the required rights, licenses, registration, permits, certificates, etc.</span></p>
<p style="-webkit-text-stroke-width: initial; margin: 0px 0px 6px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="-webkit-font-kerning: none;">Before placing an Advert you must make sure that all the elements are legal (including the photos, video, links to the external websites, where they are allowed). You shall be personally liable for any law violations or infringement of the third parties&rsquo; rights.</span></p>
<ol start="2">
    <li style="margin: 0px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-width: initial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="-webkit-font-kerning: none;">Information in the Advert shall Be True and Complete</span></li>
</ol>
<p style="-webkit-text-stroke-width: initial; margin: 0px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="-webkit-font-kerning: none;">Placement of any information, which may mislead people in respect of your goods or the terms and conditions of your offer, is considered a gross violation of the Noomb rules by us.</span></p>
<p style="-webkit-text-stroke-width: initial; margin: 0px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="-webkit-font-kerning: none;">If your offer shall, by virtue of the law, contain any particular information, you have to specify it.</span></p>
<p style="-webkit-text-stroke-width: initial; margin: 0px 0px 6px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="-webkit-font-kerning: none;">You shall be fully personally liable for distribution of an advert with no obligatory information or false information specified.</span></p>
<ol start="3">
    <li style="margin: 0px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-width: initial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="-webkit-font-kerning: none;">Advert shall Conform to Noomb Categories</span></li>
</ol>
<p style="-webkit-text-stroke-width: initial; margin: 0px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="-webkit-font-kerning: none;">Place adverts only for the goods for which there is a related category on Noomb. Do not place adverts on donations request, services ordering, financial aid request, acquaintances, found, lost, purchased or searched items. Exceptions: you may place an advert on purchase of Real Estate only in the category &ldquo;<i>Real Estate</i>&rdquo;, whereas an advert on a job search or a vacant position &mdash; only in the category &ldquo;<i>Work</i>&rdquo;.</span></p>
<p style="-webkit-text-stroke-width: initial; margin: 0px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="-webkit-font-kerning: none;">You may place several goods items the same advert only if they comprise a set or correspond to the same category. For example, you may offer a fishing rod and a diving suit in the same advert in the category &ldquo;<i>Hunting and Fishing</i>&rdquo;, but you cannot offer the car for going fishing in it. Exceptions: you must place offers in separate adverts in the following categories: &ldquo;<i>Real</i>&nbsp;<i>Estate</i>&rdquo;, &ldquo;<i>Transport</i>&rdquo; and &ldquo;<i>Vacancies</i>&rdquo; sub-category.</span></p>
<p style="-webkit-text-stroke-width: initial; margin: 0px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="-webkit-font-kerning: none;">You may place the adverts within the same category using only one profile.</span></p>
<p style="-webkit-text-stroke-width: initial; margin: 0px 0px 6px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="-webkit-font-kerning: none;">We shall be entitled to limit the number of the adverts placed free-of-charge for certain categories and regions (limit). Upon achievement of the limit, in accordance with the Terms and Conditions of Advert Paid Placement the subsequent placement of a new advert or activation of the existing advert is possible only on a paid basis in the respective categories and regions within 30 calendar days.</span></p>
<ol start="4">
    <li style="margin: 0px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-width: initial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="-webkit-font-kerning: none;">The Offer shall be Specific, Existent and Relevant</span></li>
</ol>
<p style="-webkit-text-stroke-width: initial; margin: 0px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="-webkit-font-kerning: none;">Place the adverts about the certain existent goods having consumer value. If you place an advert on the sale of goods, you shall be ready to transfer the goods to the buyer, if you place the advert about a service provision, you shall be ready to render it, etc. For example, one cannot sell the donut hole or let the apartment on Saturn planet on lease on Noomb. You are kindly asked to remember, that placement of an advert may result in your obligation to the potential buyer to conclude and fulfil and deal in accordance with the civil law.</span></p>
<p style="-webkit-text-stroke-width: initial; margin: 0px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="-webkit-font-kerning: none;">If you sold the goods, or your offer ceased to be relevant for other reasons, remove this advert from publication as soon as possible. Do not change the content of the previously published advert &mdash; create a new advert for the new offer.</span></p>
<p style="-webkit-text-stroke-width: initial; margin: 0px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="-webkit-font-kerning: none;">Do not place the adverts on the goods sale in auction or by bidding. Exceptions: you may place the advert on auction sale in the following categories: &ldquo;<i>Real Estate</i>&rdquo; and &ldquo;<i>Transport</i>&rdquo; (except for &ldquo;<i>Spare Parts and Accessories</i>&rdquo; sub-category), if there is an express indication of this sale condition in the advert.</span></p>
<p style="-webkit-text-stroke-width: initial; margin: 0px 0px 6px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="-webkit-font-kerning: none;">Do not place the general advertising information without any particular offer in the adverts. For this purpose use the special personal page within the &ldquo;</span><span style="-webkit-font-kerning: none; color: rgb(15, 124, 208); -webkit-text-stroke-color: rgb(15, 124, 208);">Subscription</span><span style="-webkit-font-kerning: none;">&rdquo;.</span></p>
<ol start="5">
    <li style="margin: 0px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-width: initial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="-webkit-font-kerning: none;">Prohibition to Place Repeated Adverts</span></li>
</ol>
<p style="-webkit-text-stroke-width: initial; margin: 0px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="-webkit-font-kerning: none;">You may place only one existent advert for one goods item.</span></p>
<p style="-webkit-text-stroke-width: initial; margin: 0px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="-webkit-font-kerning: none;">This means you cannot place the repeated adverts (duplicates) on offer of the same goods item in various cities or districts. Exceptions: you can place several adverts on the same offer available in several cities in the following categories: &ldquo;Services&rdquo;, &ldquo;Work&rdquo; and in &ldquo;<i>Ready</i>-<i>Made</i>&nbsp;<i>Business</i>&rdquo;, &ldquo;<i>Trucks and Special Vehicles</i>&rdquo;, &ldquo;<i>Water Transport</i>&rdquo;, &ldquo;<i>Motorcycles and Motor Transport</i>&rdquo; sub-categories.</span></p>
<p style="-webkit-text-stroke-width: initial; margin: 0px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="-webkit-font-kerning: none;">You also cannot place the repeated adverts (duplicates) on offer of the same goods item using several profiles. Exceptions: an advert of the same item may be placed by different persons, using several profiles (for example, when the item is leased by the owner and several agents authorized by the owner at the same time) in &ldquo;<i>Real Estate</i>&rdquo; category.</span></p>
<p style="-webkit-text-stroke-width: initial; margin: 0px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-color: rgb(0, 0, 0); min-height: 11px;">&nbsp;</p>
<p style="-webkit-text-stroke-width: initial; margin: 0px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="-webkit-font-kerning: none;">Placement of a repeated advert (duplicate) shall also be the case when you remove the advert from the publication or delete it (including before expiry of the term of its publication), and then place a new advert with the same goods item, as well as in other region or in other category.</span></p>
<p style="-webkit-text-stroke-width: initial; margin: 0px 0px 3px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="-webkit-font-kerning: none;">In case of matching of the advert parameters with the similar parameters of other advert placed earlier, the advert placed later may be regarded as the repeated one and blocked.</span></p>";s:2:"no";s:12543:"<p>&nbsp;&nbsp;<span style="-webkit-text-stroke-width: initial; text-decoration: underline; font-family: Arial; font-size: 9.5px; text-align: justify; -webkit-text-stroke-color: rgb(0, 0, 0);">Requirements to Placement and Content of Adverts</span></p>
<ol>
    <li style="margin: 0px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-width: initial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="-webkit-font-kerning: none;">Advert shall be Legal</span></li>
</ol>
<p style="-webkit-text-stroke-width: initial; margin: 0px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="-webkit-font-kerning: none;">Do not place the statements, terms and conditions or the information violating the law of the European Union member states, or the third parties&rsquo; rights contributing to such violations, in the adverts.</span></p>
<p style="-webkit-text-stroke-width: initial; margin: 0px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="-webkit-font-kerning: none;">You shall be entitled to place the adverts only for the goods, services, vacancies, facilities and other offers (hereinafter referred to as the &ldquo;Goods&rdquo;) in respect of which you have all the required rights, licenses, registration, permits, certificates, etc.</span></p>
<p style="-webkit-text-stroke-width: initial; margin: 0px 0px 6px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="-webkit-font-kerning: none;">Before placing an Advert you must make sure that all the elements are legal (including the photos, video, links to the external websites, where they are allowed). You shall be personally liable for any law violations or infringement of the third parties&rsquo; rights.</span></p>
<ol start="2">
    <li style="margin: 0px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-width: initial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="-webkit-font-kerning: none;">Information in the Advert shall Be True and Complete</span></li>
</ol>
<p style="-webkit-text-stroke-width: initial; margin: 0px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="-webkit-font-kerning: none;">Placement of any information, which may mislead people in respect of your goods or the terms and conditions of your offer, is considered a gross violation of the Noomb rules by us.</span></p>
<p style="-webkit-text-stroke-width: initial; margin: 0px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="-webkit-font-kerning: none;">If your offer shall, by virtue of the law, contain any particular information, you have to specify it.</span></p>
<p style="-webkit-text-stroke-width: initial; margin: 0px 0px 6px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="-webkit-font-kerning: none;">You shall be fully personally liable for distribution of an advert with no obligatory information or false information specified.</span></p>
<ol start="3">
    <li style="margin: 0px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-width: initial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="-webkit-font-kerning: none;">Advert shall Conform to Noomb Categories</span></li>
</ol>
<p style="-webkit-text-stroke-width: initial; margin: 0px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="-webkit-font-kerning: none;">Place adverts only for the goods for which there is a related category on Noomb. Do not place adverts on donations request, services ordering, financial aid request, acquaintances, found, lost, purchased or searched items. Exceptions: you may place an advert on purchase of Real Estate only in the category &ldquo;<i>Real Estate</i>&rdquo;, whereas an advert on a job search or a vacant position &mdash; only in the category &ldquo;<i>Work</i>&rdquo;.</span></p>
<p style="-webkit-text-stroke-width: initial; margin: 0px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="-webkit-font-kerning: none;">You may place several goods items the same advert only if they comprise a set or correspond to the same category. For example, you may offer a fishing rod and a diving suit in the same advert in the category &ldquo;<i>Hunting and Fishing</i>&rdquo;, but you cannot offer the car for going fishing in it. Exceptions: you must place offers in separate adverts in the following categories: &ldquo;<i>Real</i>&nbsp;<i>Estate</i>&rdquo;, &ldquo;<i>Transport</i>&rdquo; and &ldquo;<i>Vacancies</i>&rdquo; sub-category.</span></p>
<p style="-webkit-text-stroke-width: initial; margin: 0px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="-webkit-font-kerning: none;">You may place the adverts within the same category using only one profile.</span></p>
<p style="-webkit-text-stroke-width: initial; margin: 0px 0px 6px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="-webkit-font-kerning: none;">We shall be entitled to limit the number of the adverts placed free-of-charge for certain categories and regions (limit). Upon achievement of the limit, in accordance with the Terms and Conditions of Advert Paid Placement the subsequent placement of a new advert or activation of the existing advert is possible only on a paid basis in the respective categories and regions within 30 calendar days.</span></p>
<ol start="4">
    <li style="margin: 0px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-width: initial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="-webkit-font-kerning: none;">The Offer shall be Specific, Existent and Relevant</span></li>
</ol>
<p style="-webkit-text-stroke-width: initial; margin: 0px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="-webkit-font-kerning: none;">Place the adverts about the certain existent goods having consumer value. If you place an advert on the sale of goods, you shall be ready to transfer the goods to the buyer, if you place the advert about a service provision, you shall be ready to render it, etc. For example, one cannot sell the donut hole or let the apartment on Saturn planet on lease on Noomb. You are kindly asked to remember, that placement of an advert may result in your obligation to the potential buyer to conclude and fulfil and deal in accordance with the civil law.</span></p>
<p style="-webkit-text-stroke-width: initial; margin: 0px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="-webkit-font-kerning: none;">If you sold the goods, or your offer ceased to be relevant for other reasons, remove this advert from publication as soon as possible. Do not change the content of the previously published advert &mdash; create a new advert for the new offer.</span></p>
<p style="-webkit-text-stroke-width: initial; margin: 0px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="-webkit-font-kerning: none;">Do not place the adverts on the goods sale in auction or by bidding. Exceptions: you may place the advert on auction sale in the following categories: &ldquo;<i>Real Estate</i>&rdquo; and &ldquo;<i>Transport</i>&rdquo; (except for &ldquo;<i>Spare Parts and Accessories</i>&rdquo; sub-category), if there is an express indication of this sale condition in the advert.</span></p>
<p style="-webkit-text-stroke-width: initial; margin: 0px 0px 6px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="-webkit-font-kerning: none;">Do not place the general advertising information without any particular offer in the adverts. For this purpose use the special personal page within the &ldquo;</span><span style="-webkit-font-kerning: none; color: rgb(15, 124, 208); -webkit-text-stroke-color: rgb(15, 124, 208);">Subscription</span><span style="-webkit-font-kerning: none;">&rdquo;.</span></p>
<ol start="5">
    <li style="margin: 0px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-width: initial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="-webkit-font-kerning: none;">Prohibition to Place Repeated Adverts</span></li>
</ol>
<p style="-webkit-text-stroke-width: initial; margin: 0px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="-webkit-font-kerning: none;">You may place only one existent advert for one goods item.</span></p>
<p style="-webkit-text-stroke-width: initial; margin: 0px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="-webkit-font-kerning: none;">This means you cannot place the repeated adverts (duplicates) on offer of the same goods item in various cities or districts. Exceptions: you can place several adverts on the same offer available in several cities in the following categories: &ldquo;Services&rdquo;, &ldquo;Work&rdquo; and in &ldquo;<i>Ready</i>-<i>Made</i>&nbsp;<i>Business</i>&rdquo;, &ldquo;<i>Trucks and Special Vehicles</i>&rdquo;, &ldquo;<i>Water Transport</i>&rdquo;, &ldquo;<i>Motorcycles and Motor Transport</i>&rdquo; sub-categories.</span></p>
<p style="-webkit-text-stroke-width: initial; margin: 0px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="-webkit-font-kerning: none;">You also cannot place the repeated adverts (duplicates) on offer of the same goods item using several profiles. Exceptions: an advert of the same item may be placed by different persons, using several profiles (for example, when the item is leased by the owner and several agents authorized by the owner at the same time) in &ldquo;<i>Real Estate</i>&rdquo; category.</span></p>
<p style="-webkit-text-stroke-width: initial; margin: 0px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-color: rgb(0, 0, 0); min-height: 11px;">&nbsp;</p>
<p style="-webkit-text-stroke-width: initial; margin: 0px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="-webkit-font-kerning: none;">Placement of a repeated advert (duplicate) shall also be the case when you remove the advert from the publication or delete it (including before expiry of the term of its publication), and then place a new advert with the same goods item, as well as in other region or in other category.</span></p>
<p style="-webkit-text-stroke-width: initial; margin: 0px 0px 3px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="-webkit-font-kerning: none;">In case of matching of the advert parameters with the similar parameters of other advert placed earlier, the advert placed later may be regarded as the repeated one and blocked.</span></p>";s:2:"nl";s:12543:"<p>&nbsp;&nbsp;<span style="-webkit-text-stroke-width: initial; text-decoration: underline; font-family: Arial; font-size: 9.5px; text-align: justify; -webkit-text-stroke-color: rgb(0, 0, 0);">Requirements to Placement and Content of Adverts</span></p>
<ol>
    <li style="margin: 0px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-width: initial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="-webkit-font-kerning: none;">Advert shall be Legal</span></li>
</ol>
<p style="-webkit-text-stroke-width: initial; margin: 0px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="-webkit-font-kerning: none;">Do not place the statements, terms and conditions or the information violating the law of the European Union member states, or the third parties&rsquo; rights contributing to such violations, in the adverts.</span></p>
<p style="-webkit-text-stroke-width: initial; margin: 0px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="-webkit-font-kerning: none;">You shall be entitled to place the adverts only for the goods, services, vacancies, facilities and other offers (hereinafter referred to as the &ldquo;Goods&rdquo;) in respect of which you have all the required rights, licenses, registration, permits, certificates, etc.</span></p>
<p style="-webkit-text-stroke-width: initial; margin: 0px 0px 6px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="-webkit-font-kerning: none;">Before placing an Advert you must make sure that all the elements are legal (including the photos, video, links to the external websites, where they are allowed). You shall be personally liable for any law violations or infringement of the third parties&rsquo; rights.</span></p>
<ol start="2">
    <li style="margin: 0px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-width: initial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="-webkit-font-kerning: none;">Information in the Advert shall Be True and Complete</span></li>
</ol>
<p style="-webkit-text-stroke-width: initial; margin: 0px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="-webkit-font-kerning: none;">Placement of any information, which may mislead people in respect of your goods or the terms and conditions of your offer, is considered a gross violation of the Noomb rules by us.</span></p>
<p style="-webkit-text-stroke-width: initial; margin: 0px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="-webkit-font-kerning: none;">If your offer shall, by virtue of the law, contain any particular information, you have to specify it.</span></p>
<p style="-webkit-text-stroke-width: initial; margin: 0px 0px 6px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="-webkit-font-kerning: none;">You shall be fully personally liable for distribution of an advert with no obligatory information or false information specified.</span></p>
<ol start="3">
    <li style="margin: 0px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-width: initial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="-webkit-font-kerning: none;">Advert shall Conform to Noomb Categories</span></li>
</ol>
<p style="-webkit-text-stroke-width: initial; margin: 0px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="-webkit-font-kerning: none;">Place adverts only for the goods for which there is a related category on Noomb. Do not place adverts on donations request, services ordering, financial aid request, acquaintances, found, lost, purchased or searched items. Exceptions: you may place an advert on purchase of Real Estate only in the category &ldquo;<i>Real Estate</i>&rdquo;, whereas an advert on a job search or a vacant position &mdash; only in the category &ldquo;<i>Work</i>&rdquo;.</span></p>
<p style="-webkit-text-stroke-width: initial; margin: 0px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="-webkit-font-kerning: none;">You may place several goods items the same advert only if they comprise a set or correspond to the same category. For example, you may offer a fishing rod and a diving suit in the same advert in the category &ldquo;<i>Hunting and Fishing</i>&rdquo;, but you cannot offer the car for going fishing in it. Exceptions: you must place offers in separate adverts in the following categories: &ldquo;<i>Real</i>&nbsp;<i>Estate</i>&rdquo;, &ldquo;<i>Transport</i>&rdquo; and &ldquo;<i>Vacancies</i>&rdquo; sub-category.</span></p>
<p style="-webkit-text-stroke-width: initial; margin: 0px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="-webkit-font-kerning: none;">You may place the adverts within the same category using only one profile.</span></p>
<p style="-webkit-text-stroke-width: initial; margin: 0px 0px 6px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="-webkit-font-kerning: none;">We shall be entitled to limit the number of the adverts placed free-of-charge for certain categories and regions (limit). Upon achievement of the limit, in accordance with the Terms and Conditions of Advert Paid Placement the subsequent placement of a new advert or activation of the existing advert is possible only on a paid basis in the respective categories and regions within 30 calendar days.</span></p>
<ol start="4">
    <li style="margin: 0px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-width: initial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="-webkit-font-kerning: none;">The Offer shall be Specific, Existent and Relevant</span></li>
</ol>
<p style="-webkit-text-stroke-width: initial; margin: 0px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="-webkit-font-kerning: none;">Place the adverts about the certain existent goods having consumer value. If you place an advert on the sale of goods, you shall be ready to transfer the goods to the buyer, if you place the advert about a service provision, you shall be ready to render it, etc. For example, one cannot sell the donut hole or let the apartment on Saturn planet on lease on Noomb. You are kindly asked to remember, that placement of an advert may result in your obligation to the potential buyer to conclude and fulfil and deal in accordance with the civil law.</span></p>
<p style="-webkit-text-stroke-width: initial; margin: 0px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="-webkit-font-kerning: none;">If you sold the goods, or your offer ceased to be relevant for other reasons, remove this advert from publication as soon as possible. Do not change the content of the previously published advert &mdash; create a new advert for the new offer.</span></p>
<p style="-webkit-text-stroke-width: initial; margin: 0px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="-webkit-font-kerning: none;">Do not place the adverts on the goods sale in auction or by bidding. Exceptions: you may place the advert on auction sale in the following categories: &ldquo;<i>Real Estate</i>&rdquo; and &ldquo;<i>Transport</i>&rdquo; (except for &ldquo;<i>Spare Parts and Accessories</i>&rdquo; sub-category), if there is an express indication of this sale condition in the advert.</span></p>
<p style="-webkit-text-stroke-width: initial; margin: 0px 0px 6px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="-webkit-font-kerning: none;">Do not place the general advertising information without any particular offer in the adverts. For this purpose use the special personal page within the &ldquo;</span><span style="-webkit-font-kerning: none; color: rgb(15, 124, 208); -webkit-text-stroke-color: rgb(15, 124, 208);">Subscription</span><span style="-webkit-font-kerning: none;">&rdquo;.</span></p>
<ol start="5">
    <li style="margin: 0px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-width: initial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="-webkit-font-kerning: none;">Prohibition to Place Repeated Adverts</span></li>
</ol>
<p style="-webkit-text-stroke-width: initial; margin: 0px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="-webkit-font-kerning: none;">You may place only one existent advert for one goods item.</span></p>
<p style="-webkit-text-stroke-width: initial; margin: 0px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="-webkit-font-kerning: none;">This means you cannot place the repeated adverts (duplicates) on offer of the same goods item in various cities or districts. Exceptions: you can place several adverts on the same offer available in several cities in the following categories: &ldquo;Services&rdquo;, &ldquo;Work&rdquo; and in &ldquo;<i>Ready</i>-<i>Made</i>&nbsp;<i>Business</i>&rdquo;, &ldquo;<i>Trucks and Special Vehicles</i>&rdquo;, &ldquo;<i>Water Transport</i>&rdquo;, &ldquo;<i>Motorcycles and Motor Transport</i>&rdquo; sub-categories.</span></p>
<p style="-webkit-text-stroke-width: initial; margin: 0px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="-webkit-font-kerning: none;">You also cannot place the repeated adverts (duplicates) on offer of the same goods item using several profiles. Exceptions: an advert of the same item may be placed by different persons, using several profiles (for example, when the item is leased by the owner and several agents authorized by the owner at the same time) in &ldquo;<i>Real Estate</i>&rdquo; category.</span></p>
<p style="-webkit-text-stroke-width: initial; margin: 0px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-color: rgb(0, 0, 0); min-height: 11px;">&nbsp;</p>
<p style="-webkit-text-stroke-width: initial; margin: 0px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="-webkit-font-kerning: none;">Placement of a repeated advert (duplicate) shall also be the case when you remove the advert from the publication or delete it (including before expiry of the term of its publication), and then place a new advert with the same goods item, as well as in other region or in other category.</span></p>
<p style="-webkit-text-stroke-width: initial; margin: 0px 0px 3px; text-align: justify; font-stretch: normal; font-size: 9.5px; line-height: normal; font-family: Arial; -webkit-text-stroke-color: rgb(0, 0, 0);"><span style="-webkit-font-kerning: none;">In case of matching of the advert parameters with the similar parameters of other advert placed earlier, the advert placed later may be regarded as the repeated one and blocked.</span></p>";}s:6:"mtitle";a:5:{s:2:"en";s:0:"";s:2:"fr";s:0:"";s:2:"de";s:0:"";s:2:"no";s:0:"";s:2:"nl";s:0:"";}s:9:"mkeywords";a:5:{s:2:"en";s:0:"";s:2:"fr";s:0:"";s:2:"de";s:0:"";s:2:"no";s:0:"";s:2:"nl";s:0:"";}s:12:"mdescription";a:5:{s:2:"en";s:0:"";s:2:"fr";s:0:"";s:2:"de";s:0:"";s:2:"no";s:0:"";s:2:"nl";s:0:"";}s:8:"issystem";i:0;s:7:"noindex";i:0;}